[2020-03-18 20:36] hkalodner opened #2 "Timeout in Rock Paper Scissors example"
When running `make run-all` after downloading the repository, the RPS test appears to have hung. No new output occurred for around a minute and so I terminated the process and reran the `make run-all` script. The second time, RPS ran correctly without any delay around this step.

Below is the segment of the log that occurred before the hang.

Below is the output from that same segment in the secon

[2020-03-18 20:50] hkalodner opened #3 "Error running multisig example through make run-all"
The following report includes the exact steps I took to reach an error as well as the error log I received. Unfortunately I wasn't able to recreate the error, so the steps are a bit convoluted.

Initially the multisig example failed when running `make run-all` with the attached error. Running `make run-all` a second time led to the same error. After this failed, I tried running `make run` inside t

[2020-08-18 17:01] #3 closed

[2020-08-18 17:01] jeapostrophe commented on #2
Our updated libraries and integration tests don't have this problem anymore.

[2020-08-18 17:01] #2 closed

[2020-11-02 16:09] KBryan opened #19 "Docker fails when Reach project is run in folder with UpperCase Letter"
Here is a screen shot
![Screen Shot 2020-11-02 at 10 49 46 AM](https://user-images.githubusercontent.com/681817/97890730-e3412b00-1cfb-11eb-855a-666a55523856.png)

[2020-11-02 18:19] #19 closed

[2020-11-02 18:21] DanBurton commented on #19
Thanks for the report! If you do `reach upgrade` or re-download the `reach` script, it should now work correctly in folders with UpperCase Letters.

[2020-11-05 19:15] KBryan opened #21 "Error on transaction affecting Algorand - Ethereum not affected."
ExperimentalWarning: The ESM module loader is experimental

<img width="928" alt="Screen Shot 2020-11-05 at 2 11 49 PM" src="https://user-images.githubusercontent.com/681817/98285998-530c1b80-1f71-11eb-8674-647981da9f36.png">

[2020-11-05 19:16] jeapostrophe commented on #21
Can you please attach (or privately send) the `rsh` and `mjs` file?

[2020-11-05 19:18] jeapostrophe commented on #21
Also, FYI, `The ESM module loader is experimental` is not really an error; it's just Node.js telling us that this feature, which has been around for over five years, is "experimental". Actually, the next release of Node.js is supposed to remove the warning. But the other part of the error is definitely real.

[2020-11-05 22:25] DanBurton commented on #21
We were not able to reproduce the error. @KBryan mentioned that this issue fixed itself for him. Kindly reopen if it comes up again; thanks!

[2020-11-05 22:25] #21 closed

[2020-11-09 17:08] KBryan opened #23 "Error while parsing $ - expected Object, but encountered Null"
Here is a dump from the error.
make build
docker build --build-arg REACHC_HASH="$(../scripts/git-hash.sh)" --tag="reachsh/reach":latest .
Sending build context to Docker daemon  1.041MB
Step 1/28 : FROM reachsh/haskell-builder:lts-16.12 as build
lts-16.12: Pulling from reachsh/haskell-builder
5d9821c94847: Already exists
a610eae58dfc: Already exists
a40e0eb9f140: Already exists
f5a1b3beb4d5: Pulli

[2020-11-09 17:36] DanBurton commented on #23
It seems that something is wrong with `package.yaml`. `make build` is supposed to generate a valid `package.yaml` file, but something seems to be wrong. Does a `package.yaml` file exist in your `hs` folder after running this command? And if so, can you paste it here?

[2020-11-09 17:41] KBryan commented on #23
It is just empty. Nothing to paste.

[2020-11-09 17:46] DanBurton commented on #23
Ah, ok. That explains it. Running `make build` _should_ require that you have a command-line utility called `mo` installed. For some reason the command for generating `package.yaml` isn't failing (when I presume in this case it should fail?), but instead is just creating an empty file.

@jeapostrophe how do you think we should approach this issue?

[2020-11-09 18:32] DanBurton commented on #23
I've pushed a change to the makefiles.

https://github.com/reach-sh/reach-lang/commit/44c6b43f9e5f4f9407acf6cbea6fcf07f46a4951

It should now correctly fail if you don't have `mo` installed, and it will prompt you to run `make install-mo` which should install `mo` for you. (`mo` is a command line utility for filling in templates using environment variables.)

If you:

* `git pull`
* `rm package.ya

[2020-11-10 15:49] jeapostrophe commented on #23
@KBryan I believe that this issue is now settled, so I'm going to close the issue. If I'm in error, please correct me. :)

[2020-11-10 15:49] #23 closed

[2020-12-11 01:45] vporton opened #33 "Reach 0.1 does not work"
[code]

It's reach from later `master` branch.

[2020-12-16 18:53] DanBurton commented on #33
@vporton thanks for the report. Can you give us a little more info about your current setup? These details might help:

* current OS
* the output of `./reach hashes`
* the contents of the file you are trying to compile

[2020-12-16 21:52] vporton commented on #33
Ubuntu 20.04.1

@DanBurton
[code]

[code]

[2020-12-16 22:17] cswenor commented on #33
That looks like the mjs file. Can you please also include your rsh file?

[2020-12-16 22:18] DanBurton commented on #33
What @cswenor said. But also. I suspect it might be an issue with the way we are using docker-compose.

Could you paste the output of `docker-compose --version` and `docker --version` ?

You can also try `./reach update` to grab slightly newer containers (`./reach hashes` output will change), but I suspect this will not be sufficient to address the issue.

[2020-12-16 23:29] vporton commented on #33
[code]

[2020-12-16 23:31] vporton commented on #33
[code]

`./reach update` does not help.

[2020-12-18 18:57] DanBurton commented on #33
@vporton thanks for the additional info. Those versions seem reasonable, so I'm still not sure what could be going wrong here, but I still suspect it's an issue with docker-compose.

Have you used `docker-compose` successfully for other projects? Could you try upgrading to docker-compose version `1.27.4`?

[2020-12-18 19:15] cswenor commented on #33
@vporton If you would like you can join our Discord channel and we can work on this live with you. https://discord.com/invite/AZsgcXu

[2020-12-18 19:30] vporton commented on #33
Yes, I did. I can upgrade, but that's not good if your software does not work with the _latest_ version of the most popular free OS (Ubuntu). So, should I upgrade? Or first consult the Discord.

[2020-12-18 21:29] DanBurton commented on #33
Okay, I think I found and fixed the issue via 33333e5. @vporton can you run `./reach upgrade` or re-download the `reach` script and try again? I tested it on an Ubuntu 20.04 VM with docker-compose 1.25.0, so it _should_ work.

[2020-12-18 21:44] vporton commented on #33
[code]

I will mark this issue closed.

However, in some reason:

[code]

[2020-12-18 21:44] #33 closed

[2020-12-18 23:24] jeapostrophe commented on #33
Thanks @vporton ! For the `./reach run` error. In the directory, you should see some files with names like `.index` and so on. You can just delete those. I believe that you can also run `./reach unscaffold`. My guess is that they remained from when the `docker-compose` failed part way. Thanks for bearing with us!

[2021-02-15 14:39] dave-sims opened #57 "Just a small copy edit in the tutorial.."
"...if Bob does not **complete perform** this action within a..."
docs-src/tut.scrbl line  1007

[2021-02-15 18:25] #57 closed

[2021-02-15 18:25] jeapostrophe commented on #57
Thank you!

[2021-03-17 16:52] KBryan opened #82 "Updated Reach Init to use Participant"
Reach init allows a base .rsh file. Reach currently uses Participant by default although this is not present in the current updated .rsh file.

[2021-03-17 17:38] #82 closed

[2021-03-17 17:38] jeapostrophe commented on #82
Thanks @KBryan !

[2021-04-20 16:50] KBryan opened #103 "setGasLimit(myGasLimit) not a function == Ethereum"
Step to reproduce:
- Forked newest copy of Reach Repo
- Performed Reach update
- used example remote from examples folder

Current Hashes
reach: fde318f5
ethereum-devnet: fde318f5
algorand-devnet: fde318f5
runner: fde318f5
react-runner: fde318f5
rpc-server: fde318f5

[2021-04-20 16:58] DanBurton commented on #103
What command are you using to run the example?

[2021-04-20 17:01] KBryan commented on #103
REACH_CONNECTOR_MODE=ETH ../../reach run

[2021-04-20 18:08] DanBurton commented on #103
I'm not able to reproduce this issue. It's possible that it isn't rebuilding the example based on the latest images. Can you try `../../reach clean` inside of the `examples/remote/` directory and see if that makes it work?

[2021-04-24 12:28] hagenhaus opened #105 "Tell user to cd to workshop folder"
In workshops 1-5, the directions tell the user to `mkdir` the workshop directory, and then, assuming that the user has changed directory into the new directory, the directions tell the user to run `../reach version` to verify that the script will run. Perhaps we should be more explicit so that copy/paste users don't get tripped up.

Tutorial 2.1 avoids this confusion by using `mkdir -p ~/reach/tut

[2021-04-24 14:08] jeapostrophe commented on #105
Thanks, I adjusted the `workshop-init` function

[2021-04-26 19:08] hagenhaus commented on #105
Thanks, Jay.

[2021-04-26 19:09] #105 closed

[2021-04-28 14:38] KBryan opened #107 "Reach Standard Library call local instance of Algorand"
On launching a dApp to Algorand mainnet it seems that the standard library calls a local instance of algod.

![Screen Shot 2021-04-27 at 9 14 36 AM](https://user-images.githubusercontent.com/681817/116422481-cc444700-a80d-11eb-8d37-27cbdf6b8654.png)

[2021-04-28 14:41] jeapostrophe commented on #107
That looks to me like the indexer is not set correctly? I believe that @DanBurton will shortly be sending something to elaborate what's going on here

[2021-04-28 14:46] DanBurton commented on #107
I'm working on improving the ergonomics of this. You can do something like the following:

[code]

I use the randlabs APIs in this example, but you can just as easily use PureStake, or any other API provider.

This currently only works with the `'mnemonic'` signing strategy, but I'm working on getting it to work with the `'AlgoSigner'` signing strategy as well.

I'll provide updates on this issue

[2021-04-30 15:29] KBryan opened #128 "Standard Library Doesn't return connected Algorand public address"
When reviewing a video. I noticed that the return address starts with 0x this would assume a public Ethereum address. As you can see from the example the standard library should return an Algorand address.

![Screen Shot 2021-04-30 at 11 21 38 AM](https://user-images.githubusercontent.com/681817/116717666-24fb1780-a9a7-11eb-8b79-0cb7ffec0179.png)

[2021-05-01 13:29] jeapostrophe commented on #128
Thanks @KBryan . I've assigned @DanBurton to work on "Implement formatAddress to turn a NetworkAccount into the way accounts are formatted for the given network".

In Reach's JavaScript support --- `Address` is represented by an internal `NetworkAccount` (see: https://docs.reach.sh/ref-frontends-js-types.html )  which on Algorand is just the public key, which you see displayed there. However, it i

[2021-05-01 17:58] KBryan commented on #128
Sounds good, will keep this issue open until the solution mentioned has been implemented and tested.

[2021-05-10 20:24] DanBurton commented on #128
There is a new stdlib function, `formatAddress`, that is available for this. It accepts an `Account`, `NetworkAccount`, or an `Address`, and formats it in the network-specific way users expect to see it.

https://docs.reach.sh/ref-frontends-js-utils.html#%28javascript._%28%28format.Address%29%29%29

Available as of `@reach-sh/stdlib@0.1.2-rc.46`

[2021-05-10 22:59] lmedury opened #134 "Encountering race condition in tutorial 9 - Web Interaction"
In [tutorial 9](https://docs.reach.sh/tut-9.html), the contract information is rendered after deploying the contract as Alice. Before I attach to the contract as Bob, the following unhandled exception shows up:

![frontend-error](https://user-images.githubusercontent.com/44927331/117734114-680f8300-b210-11eb-9877-6d64c98b00ac.png)

Steps to reproduce:

1. Follow the [tutorial](https://docs.reach.s

[2021-05-12 14:48] KBryan commented on #128
Ok, are there any test cases for this?

[2021-05-12 16:10] DanBurton commented on #134
I'll take a look

[2021-05-12 18:51] DanBurton commented on #134
I'm able to reproduce the error... nondeterministically. The workaround for users is just to refresh the page and try again. But I'll see what I can do to address the issue.

[2021-05-12 22:10] #134 closed

[2021-05-12 22:12] DanBurton commented on #134
Thanks for the report. I've made it so that if the error occurs, it will have a more descriptive error message. But I've also added some better retry logic around this particular error, which should be sufficient to prevent it from surfacing to users. Feel free to reopen if you find this is insufficient.

[2021-05-12 22:23] DanBurton commented on #128
If you're curious:
https://github.com/reach-sh/reach-lang/commit/279dcbde6ae5c112d2e8f35bfe031884aeeef8d0#diff-238f2c0082bb61188656d618a2e0069050a4512be69c42a0fd3b798ce7a42042

[2021-05-12 22:23] #128 closed

[2021-05-12 22:26] DanBurton commented on #107
This is now documented:

https://docs.reach.sh/ref-frontends-js-provider.html

The ergonomic solution is:

[code]

And it does work with AlgoSigner. =]

[2021-05-12 22:26] #107 closed

[2021-05-12 22:35] DanBurton commented on #103
I have double checked that the ETH stdlib Accounts have the `setGasLimit` method on them.

If you are seeing "is not a function" errors, this sometimes indicates that you forgot to `await` a Promise.

[code]

[code]

[2021-05-12 22:35] #103 closed

[2021-05-14 18:48] hernandp opened #138 "Compiler internal error, ETH Connector"
Using Reach with the following code:

[code]

yields:

[code]

Platform information:
[code]

`reach version` output:
[code]

Thanks.

[2021-05-14 20:02] DanBurton commented on #138
I'm able to reproduce the same error with the program you provided. Thanks for the report; this does in fact appear to be a compiler issue.

[2021-05-15 07:29] felipemullen opened #142 "Tutorial 8 does not run on Algorand test image"
At first I thought I had made a mistake when following the tutorial found at https://docs.reach.sh/tut-8.html but it appears there may be something going on in the image.

Steps to reproduce:
- copy `package.json`, `Makefile`, `index.rsh`, `index.mjs`, `docker-compose.yml`, `Dockerfile` into a directory
- move `&default-app` from `reach-app-tut-8-ETH-test-dockerized-geth` to `reach-app-tut-8-ALGO-

[2021-05-15 13:52] #142 closed

[2021-05-15 13:52] jeapostrophe commented on #142
Thanks!

If you were doing this in the Reach repository, then it was a fluke because I changed the compilation output but didn't update the compiled version in the repo.

If you were doing it on your own, then perhaps it was a similar problem of having a mismatch between your compiler and runtime images.

[2021-05-15 18:38] jeapostrophe commented on #138
Thanks, I found it and am about to make a push fixing it

[2021-05-15 21:02] #138 closed

[2021-05-20 13:46] hernandp opened #147 "Compiler error: [Participant] is bound and cannot be rebound in parallelReduce loop"
The following parallelReduce loop will yield
[code]

[code]

Thanks in advance.

[2021-05-21 21:35] #147 closed

[2021-05-21 21:35] jeapostrophe commented on #147
Fixed it, thanks!

[2021-05-24 16:12] hernandp opened #149 "Compiler internal error"
The following code

[code]

will cause an internal compiler error as follows:

[code]

Thanks.

[2021-05-24 16:53] #149 closed

[2021-05-24 16:53] jeapostrophe commented on #149
Thanks!

[2021-05-24 21:37] BebeGene opened #150 "Docs: Reach init adds // ... to default index.rsh script"
Description
- Confusing use of ellipses in the index.rsh file.

Page Link
- NA, this is not reflected in our documentation, but it appears in the actual index.rsh script.

Search String
- " // ..."

Issue
- When we spin up a new script using ./reach init, it automatically adds "// ..." in it on Line 6. This was very confusing to me in the beginning b/c "..." is actually used in Javascript as a res

[2021-05-25 13:40] #150 closed

[2021-05-25 13:41] chrisnevers commented on #150
Thanks, I've updated the `reach init` code to be more explicit:

[code]

[2021-05-25 17:59] hernandp opened #151 "Compiler internal error: getIllegalModeSuggestion"
The attached code below will yield the following :

[code]

Thank you.

---

Code:

[code]

[2021-05-25 20:36] chrisnevers commented on #151
Thanks for opening this issue; this is actually a poor error message that I will fix.

The issue with this program is you are using `assume` in the wrong place. The `PAY_EXPR` of a `parallelReduce` is evaluated in a pure context, where `assume` is not allowed because it could introduce a failure.

This issue can be fixed by moving the `assume(amount > 0, "EZERO");` into the `PUBLISH_EXPR`. For exa

[2021-05-25 20:56] hernandp commented on #151
Thank you

[2021-05-25 23:44] victorsh opened #152 "Webpack 5: Unable to import @reach-sh/stdlib"
The error seems to be cause by Webpack 5 not being able to resolve the imports within a .mjs file.

Related issue: https://github.com/webpack/webpack/issues/11467

Attempted suggested solution with no success: https://github.com/webpack/webpack/issues/11467#issuecomment-691982478

Webpack Config File
[code]

Error message:
[code]

[2021-05-26 10:13] hagenhaus opened #154 "stdlib.hasRandom in tutorials"
Starting with Tutorial 5, frontends spread `stdlib.hasRandom` into `Player` objects:

[code]

The inclusion of `stdlib.hasRandom` has nothing to do with the subsequent use of `Math.random` and `Math.floor` as some readers might mistakenly conclude. The only reason I can see to include `stdlib.hasRandom` in frontend `Player` objects (in this case) is to make `stdlib.hasRandom.random()` available to

[2021-05-26 13:44] #151 closed

[2021-05-26 19:47] miaoye26 opened #155 "Doc: 5.4.6.1.7 parallelReduce explanation and parameters definations"
### Page Link

https://docs.reach.sh/ref-programs-consensus.html#%28reach._%28%28parallel.Reduce%29%29%29

### Search String

5.4.6.1.7 parallelReduce section

### Issue

1) Looking for a High-level explanation and some definition of the parameters for

'ParalleReduce([ true, Funder, 0 ])'

2) Click on .Case brings you to https://docs.reach.sh/ref-programs-compute.html#%28reach._%28%28case%29%29%2

[2021-05-26 23:15] cb0806151 commented on #152
I'm also getting these errors when using webpack 5 with Svelte as per this repository
https://github.com/cb0806151/reach-svelte-test
[code]

[2021-05-27 04:30] jeapostrophe commented on #154
Reach computations are deterministic, and thus Reach does not support a native `random` function. However, Reach can interact with participants to, for example, "provide a number". The frontend is then responsible for how exactly to get this number. The Reach program cannot rely on the number being generated in an particular way.

This is a really common occurrence, so we want to make it is easy f

[2021-05-27 10:41] hagenhaus commented on #154
Okay, I think this is the premise: Reach, by design, does not natively provide a way to generate random numbers, but at least one Reach function (i.e. makeCommitment) (1) requires this capability and (2) relies on the frontend participant to supply a `random()` method which, I assume, can be the default stdlib method or a custom method.

Here, then, I think, is what the developer needs to self-tal

[2021-05-27 10:45] hagenhaus commented on #155
I agree. I will look into this. Thx for submitting this issue with the "Doc:" prefix!

[2021-05-27 12:34] jeapostrophe commented on #154
Just like Reach wants to force people to `declassify`, `require`, and consider invariants, it is part of its security consciousness to have them in charge of their own randomness. Many many applications have been attacked through their random generators, so we don't want to make it so that Reach will only do randomness one way.

[2021-05-28 14:30] chrisnevers commented on #154
I've updated the documentation regarding `hasRandom`

[2021-05-28 14:30] #154 closed

[2021-05-28 18:38] jeapostrophe commented on #152
We've done some more work on this. Something we've discovered is that Webpack 5 made a breaking change where it is no longer compatible with something that Webpack 4 allows and vice-versa. So basically, we're in a situation where Reach works with 4 and not 5. We're looking for a way to support both. As a short-term workaround, if it is possible for you to make progress with 4, I recommend doing th

[2021-05-30 17:19] IsolteCruel opened #159 "Using `address` as a key in `Object` throws compiler errors"
[code]
gives:
[code]
whereas changing the key to anything else like:
[code]
works fine

[2021-05-31 16:41] KBryan opened #160 "Error on Remote Solidity Smart Contract"
I had released a bug report on this. It was fixed and now the issue has returned.

{"contracts":{"index.sol:DaiToken":{"abi":"[{\"inputs\":[],\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"internalType\":\"address\",\"name\":\"_owner\",\"type\":\"address\"},{\"indexed\":true,\"internalType\":\"address\",\"name\":\"_spender\",\"type

[2021-05-31 16:53] jeapostrophe commented on #160
As discussed on Discord, Reach does not provide support for you launching arbitrary smart contracts on the networks we support. You got this code from `examples/remote/index.mjs`, which is a test case for launching a contract and then interacting with. That code relies on the developer knowing how to put things on Ethereum (it uses `ethers` and `solc` directly). I think in most real-world uses, th

[2021-05-31 16:53] #160 closed

[2021-05-31 20:01] KBryan commented on #160
Reach does compile and deploys the smart contract. Set your contract to pragma solidity ^0.7.4; and above is required. Configure your makefile to the desired network if you want to use this approach to launch ERC20 from Reach. You can also modify the frontend to deploy the contracts VIA MetaMask. ¯\_(ツ)_/¯

[2021-05-31 20:09] jeapostrophe commented on #160
No, Reach does not compile and deploy the smart contract.

The `examples/remote` directory is an example of a /user/ program that a Reach programmer might write. So, everything inside that directory is *not* Reach, but a program that a Reach programmer happened to write. In other words, it is *you*, not *Reach*.

In that example, the `Makefile`, assumes your computer has `solc` on it and compiles

[2021-05-31 20:19] KBryan commented on #160
Okay, I got it to do what I want. Although, it seems that it shouldn't happen or work.

[2021-05-31 20:29] jeapostrophe commented on #160
No, it should happen and it should work; it's just that you are attributing it to "Reach", when you should attribute it to "Kwame"; or rather, "Kwame copying Jay's `Makefile` and JavaScript `ethers` code" :P

[2021-06-02 06:53] mrweiner commented on #159
I can confirm that I'm seeing the same thing.

[2021-06-02 09:25] jeapostrophe commented on #159
Thanks @chrisnevers is on it :)

[2021-06-02 17:40] chrisnevers commented on #159
Hi @IsolteCruel , @mrweiner

I fixed this issue in [PR 162](https://github.com/reach-sh/reach-lang/pull/162). You may now use reserved Solidity words in Reach `Object`s. Thanks 🙂

[2021-06-02 17:40] #159 closed

[2021-06-02 23:33] MrJackdaw commented on #152
Adding a similar error report.

### Environment details

* Framework: `Vue 3`
* Bundler: [`ViteJS`](https://vitejs.dev)
* Reach Connector: `Algorand` (explicitly called before `reach compile`)

### Steps to reproduce

1. Created and compiled `index.rsh` file in `< app root >/src/build`
2. Added `* as reach` import to `< app root>/src/main.js`

[code]

### Error details

[code]

[2021-06-03 00:13] DanBurton commented on #152
Ok, I have a significant update on this. We have revamped the way we publish our JS stdlib to be more compatible with various JS browser frameworks.

Kindly `reach update` if you are using the docker containers, and `npm update @reach-sh/stdlib` if you are using the js lib directly. (The latest version is now `0.1.2-rc.55`)

If you still see these kinds of errors after the update, then instead of:

[2021-06-03 00:38] victorsh commented on #152
Just tested with same configuration I posted the issue about, looks like it's importing fine now.

I did get errors with `import * as reach from '@reach-sh/stdlib/ALGO';`

rewriting it as suggested worked.
[code]

[2021-06-03 00:52] cb0806151 commented on #152
Updated to the latest package, integrated the secondary import option, and its now working with Svelte! Thanks Dan and Team!!!
https://github.com/cb0806151/reach-svelte-test

[2021-06-03 12:22] hagenhaus opened #164 "FOMO Workshop shouldBuyTicket method"
See [index.rsh](https://github.com/reach-sh/reach-lang/blob/master/examples/workshop-fomo/index.rsh).

I believe there is no reason to pass `ticketPrice` to `interact.shouldBuyTicket`.

`index.mjs` does not use it: `shouldBuyTicket : () => Math.random() < 0.5`

[2021-06-03 12:37] jeapostrophe commented on #164
This is an artifact of the automated test. In a real application, the user would want to know the ticket price before agreeing to buy it.

[2021-06-03 12:37] #164 closed

[2021-06-03 19:29] DanBurton opened #167 ".rsh checking for empty string with == gives wrong answer"
[code]

[code]

Output of `reach run`:

[code]

[2021-06-03 21:25] Zetsuboii opened #168 "Both branches of ternary opeator is evaluated while using loops"
https://gist.github.com/Zetsuboii/05e473ac22d1ebd176ed8b0b126ecc7a
This is what I've written to produce the error.

https://gist.github.com/Zetsuboii/3e5792bdfeb3970e5a4eeae4ea856404
This is a similar code without the loop

Without the loop, compiler only evaluates the possible branches.
But when loop is involved  `const temp = i < 5 ? arr[i] : i;`  this line, which normally would work fine becaus

[2021-06-03 22:46] hagenhaus opened #169 "parallelReduce subsequent visit issues"
The parallelReduce loop works correctly for the first visit of ParticipantClass Giver who pays, sets `when=false`, and calls `interact.stopWatching` which calls `process.exit(0)`. For subsequent visits, the parallelReduce loop seems to ignore `declassify`, and, instead, uses the declassified data from the first visit. Here is index.rsh. Glad to provide more data or a demo.
[code]

[2021-06-04 15:10] jeapostrophe commented on #168
This is fixed by a recent change.

[2021-06-04 15:10] #168 closed

[2021-06-04 15:19] jeapostrophe commented on #169
Can you help me understand this better? What output do you see and what do you expect to see? What do the frontends look like?

[2021-06-04 23:11] #167 closed

[2021-06-04 23:11] jeapostrophe commented on #167
This was insanely hard, actually. Thanks for finding it!

[2021-06-07 08:59] hagenhaus opened #173 "Follow your own docker-compose.yml conventions consistently"
`reach scaffold` generates a `docker-compose.yml` file that contains inconsistencies regarding naming and ordering conventions that had been established prior to the addition of Conflux. Whether you stick to the old conventions or change to new ones, I recommend that you choose and follow your own conventions in order to help developers understand this file quickly. Here are examples:

**Current C

[2021-06-07 12:56] jeapostrophe commented on #173
This is an implementation detail and not part of what is supported by Reach. As it happens, we have an existing task to rename all of the images and containers to `${CONNECTOR_MODE}-{devnet,live}`

[2021-06-07 12:56] #173 closed

[2021-06-09 02:05] Zetsuboii opened #175 "returns inside if statements doesn't return the value"
This was something jbo in the Discord server encountered
while defining functions in .rsh code, having return statements inside if block doesn't work as expected

Here is the contract I wrote the reproduce the error
[code]

[2021-06-09 02:13] DanBurton commented on #175
I was able to distill the issue down to this:

[code]

[code]

[2021-06-09 13:49] #175 closed

[2021-06-09 13:50] jeapostrophe commented on #175
Thank you, this was very helpful to find a long-standing error.

[2021-06-09 20:53] aorumbayev opened #177 "Inquiry on adding support for apple silicon"
## Issue description

I followed basic steps in https://docs.reach.sh/tut-2.html after running `reach run` I get the following set of logs:

[code]

## Hardware info

OS Version : macOS Big Sur 11.4
Chip: Apple M1

## Further notes

Would appreciate any feedback input on this, I suspect it has something to do with the M1 chip itself, running identical set of steps on an intel based Mac works witho

[2021-06-10 01:37] MrJackdaw commented on #177
Hello! Thought I might jump in and help. I'm also on a mac

Are you using the latest version of the `@reach-sh/stdlib` library? Current version (at time of writing) is `0.1.2-rc.56`.

[2021-06-10 01:41] aorumbayev commented on #177
@MrJackdaw yes i believe I run the update command via reach cli. I assume it pulled the latest version as of now.

[2021-06-10 03:25] MrJackdaw opened #179 "Reach Compiler Error - Maybe Red Herring?"
### Summary
Received the following error after running `reach compile`.  Error prevents the file from being actually compiled, but may be a red-herring.

[code]

### Steps To Replicate(?)
I commented the _hell_ out of the code until it both reliably compiled and threw the error. Culprit was this conditional:

[code]

### Background
* The `index.rsh` file contains only one line (a `closeTo`) below

[2021-06-10 08:58] aorumbayev commented on #177
@MrJackdaw I also tried setting the experimental big sur virtualisation in docker settings, didn't do a trick for me unfortunately.

[2021-06-10 09:05] jeapostrophe commented on #177
Right now, we don't support Apple Silicon. This is because we use packages X, Y, and Z, and they don't support it. It *might* be possible to use emulation and the existing x86 version --- https://docs.docker.com/docker-for-mac/apple-silicon/

If you'd like we can leave this issue open for you to track when we support it, but be assured, we'll make a big deal about it when we support the new Macs :

[2021-06-10 09:11] aorumbayev commented on #177
Thank you for the update @jeapostrophe ! Yes, please keep the issue open, would love to track the progress.

Reach has amazing potential, so the more platforms + frontend clients you'll eventually support, the more people will contribute and make codebase more mature. I also personally think if you guys could add a python frontend client (instead of current RPC option), that would be a great boost

[2021-06-10 10:10] jeapostrophe commented on #179
Can you please attach the entire `index.rsh` file so I can test it?

[2021-06-10 17:23] MrJackdaw commented on #179
File contents are pasted below (since github won't let me upload it directly here):

[code]

[2021-06-10 22:12] jeapostrophe commented on #169
I believe that we're handling this in our convo

[2021-06-10 22:12] #169 closed

[2021-06-10 22:12] jeapostrophe commented on #152
Closing now based on the feedback from last week.

[2021-06-10 22:12] #152 closed

[2021-06-11 02:38] BebeGene opened #182 "Add supporting use cases for each of these programs"
Description
This page describes the different programs Reach uses. Adding context to when you'd use it for each section would be very helpful I think.
For example: Under 'switch'. If you put just a sentence or two like, "You would use this in a scenario where Alice x with Bob... etc'

Page Link
https://docs.reach.sh/ref-programs-compute.html#%28tech._value._definition%29

Search String
"A switch s

[2021-06-11 03:02] sin3point14 opened #183 "using `postWager` in interact interface gives compilation error"
[code]
gives
[code]

[2021-06-11 03:05] #183 closed

[2021-06-11 03:05] sin3point14 commented on #183
my bad, mistook something else for an error!

[2021-06-11 03:13] BebeGene opened #184 "Definition of 'assertions' in this paragraph gets jumbled"
Description
This section is supposed to explain that these are all assertions but I don't think it's clear. I think it refers to some as assertions and some not, when they all are.

Page Link
https://docs.reach.sh/ref-model.html

Search String
"An assertion is either: a knowledge assertion, which is a claim that one honest participant..."

Issue
I talked to Jay about this and it turns out they are

[2021-06-11 09:48] jeapostrophe commented on #179
This is great, thanks. I will investigate and get back to you

[2021-06-11 13:11] #179 closed

[2021-06-11 13:12] jeapostrophe commented on #179
A fix should go out for this later

[2021-06-11 14:12] MrJackdaw commented on #179
Thank you!

[2021-06-14 12:23] KBryan opened #186 "Unhandled Rejection (Error) ETH : Ad51,Ad51,send,m8,false,SEND REPEAT @ 9725293 x 33"
While assisting a community member. We witnessed this error.

      | ^  313 |   const sim_r = { txns: [], mapRefs: [], mapsPrev: [], mapsNext: [] };
  314 |
  315 |   sim_r.prevSt = stdlib.digest(ctc11, [stdlib.checkedBigNumberify('./index.rsh:394:15:dot', stdlib.UInt_max, 8), v24, v25, v32, v39, v173, v175, v177, v178, v197, v322]);

[2021-06-14 13:12] jeapostrophe commented on #186
Thanks Kwame; when you find things like this it is really necessary to get the .rsh and .mjs files to debug. Worst case, this is a compiler error. Best case, this is because the account was out of funds.

[2021-06-14 13:21] KBryan commented on #186
Hey Jay, this was a community member project Zet and I was helping with. Here is the gist for the .rsh.
https://gist.github.com/KBryan/04fd31163fe0a1e79190a75fded66494

[2021-06-14 14:03] jeapostrophe commented on #186
Thanks, I'll look at it

[2021-06-14 15:26] Zetsuboii commented on #186
https://github.com/jboetticher/reach-catan
This is the repository of the whole project

[2021-06-15 01:40] jboetticher commented on #186
Hello, I was the community member.
I've documented the issue a bit more within my repository. You can see it in this file:
https://github.com/jboetticher/reach-catan/blob/e36912b04c485e90140588f95f22f041bac99bde/index.rsh#L290-L308

I didn't have enough time to refine the issue down, but I did a couple of tests which may help.

/*@BUG-186         * After updating reach on 6/14/2021 at 6:00 PST, th

[2021-06-18 21:40] mrweiner opened #190 "Compiler error: Stack too deep when compiling inline assembly: Variable dataEnd is 2 slot(s) too deep inside the stack."
Experiencing the following on `./reach run`, although all theorums appear to be passing. I'm sure there are issues with the test front end since I just finished mocking up the initial draft, but not sure whether or not that shoud/would affect compilation. I should note that I'm seeing the same whether the MAX_XYZ constants are >= 1.

### Error/CallStack
[code]
### reach.sh
[code]

### index.mjs
[c

[2021-06-19 11:11] jeapostrophe commented on #190
Thanks @mrweiner

This is because of an underlying problem with Solidity --- https://github.com/ethereum/solidity/issues/10930 --- Solidity will die with the following simple program:
[code]

and there's nothing that a user can do about it, except turn off the optimizer.

So, since I now know this (thank you), I'm changing Reach so that if the optimizer fails, then it will try without the optimize

[2021-06-19 11:12] #190 closed

[2021-06-19 17:18] mrweiner commented on #190
Thanks for the info @jeapostrophe . Could you drop a note in here once your change goes out?

Also, what are the practical implications of deploying an un-optimized contract? Not really sure what "performance" looks like in the context of a smart contract.

[2021-06-19 18:08] jeapostrophe commented on #190
It would cost differently on Ethereum. I don't say "more" because optimizations on Ethereum can actually make things cost more because of poor heuristics. But probably it would cost more.

[2021-06-19 18:11] mrweiner commented on #190
Ah okay, that makes sense. Thanks.

[2021-06-19 21:47] jeapostrophe commented on #190
I made an unrelated change and it "improved" the compilation of your program to the point that it now works, but it works for a kind of bizarre reason. The code works because the `if` statement on line 366 can never be false. You can tell this because `orderTotal` on line 371 isn't defined anywhere, but it gets removed by the optimizer, because you're not using `use strict`. The unrelated change m

[2021-06-19 21:52] jeapostrophe commented on #190
I think you should use functions like `.all` and `.sum` rather than writing them yourself. It might make it more likely to ensure that there aren't little typos

[2021-06-19 22:12] jeapostrophe commented on #190
This line is the problem: `const orderTotalsMatch = positiveOrderTotal == orderTotalCalcd;`

`positiveOrderTotal` is a boolean and `orderTotalCalcd` is a number, so they can never be equal, so this is false, and thus everything else is false

[2021-06-20 06:25] mrweiner commented on #190
Ah, yes `const orderTotalsMatch = positiveOrderTotal == orderTotalCalcd;` is definitely the problem -- it's supposed to be `const orderTotalsMatch = orderData.orderTotal == orderTotalCalcd;`. Thanks a lot for taking a look through everything. After fixing that and few similar typos I've got a bunch of verification failures, but at least I can work with that. If I can get those sorted out I guess I

[2021-06-20 18:54] mrweiner commented on #190
@jeapostrophe alright I _think_ I've fixed all of the logical errors, and you're correct that the solidity error is still appearing. I can provide the updated program if you'd like.

I wonder -- does `../reach run` only compile to solidity? If somebody intends only to deploy to another chain then an error like this is essentially inconsequential. Is there a way (or would it be practical to provide

[2021-06-20 18:56] hagenhaus opened #192 "Enable reach --version to provide more explicit version"
I need to keep Reach compiler version on my computer in sync with the [cdn.jsdelivr.net] (https://cdn.jsdelivr.net/npm/@reach-sh/stdlib@0.1.2-rc.58/dist/browser/reachsdk.min.js) webpak version. I suggest adding more explicit output for `reach --version` like this:

[code]

[2021-06-20 19:01] Zetsuboii commented on #192
Aren't reach and reach/stdlib two different things? One of them is the compiler and the other one is the front-end companion. `npm info @reach-sh/stdlib version` should give the version you want to see.
But it could be better to show the latest stdlib version `./reach react` uses next to compiler version

[2021-06-20 20:00] jeapostrophe commented on #190
Yes, please give me the source.

You can specify what connectors you want to compile for --- https://docs.reach.sh/ref-programs-appinit.html#%28reach._%28%28connectors%29%29%29 --- this has always been part of Reach.

[2021-06-20 20:09] mrweiner commented on #190
I see. Does `setOptions()` go in reach.sh?

### Updated reach.sh
[code]

[2021-06-21 09:49] hagenhaus commented on #173
The inconsistent naming also shows up in the `reach hashes` command:
[code]
Consistency is key to training.

[2021-06-21 13:04] jeapostrophe commented on #192
@DanBurton How would you go about doing this? My understanding is that the stdlib npm versions are copied out of the the runner code, so the dependency actually goes in the other direction... meaning that the runner really has no idea what version of the stdlib npm it will be used it?

[2021-06-21 13:13] jeapostrophe commented on #190
Yes, it does. Thank you for sending the code.

[2021-06-22 12:38] hagenhaus commented on #192
I believe this is the use case: I am a web developer compiling `index.rsh` to `index.main.mjs`.

My `index.html` file includes this:

`<script src="https://cdn.jsdelivr.net/npm/@reach-sh/stdlib@0.1.2-rc.58/dist/browser/reachsdk.min.js"></script>`

And, my `index.js` file (for use in the browser) includes this:

`import * as backend from './build/index.main.mjs';`

I want to make sure my `index.mai

[2021-06-22 12:44] hagenhaus opened #193 "I believe parallelReduce fails on Ethereum."
[See this video](https://www.youtube.com/watch?v=AVXRFtl0pU4) to watch a parallelReduce test that passes on Algorand and fails on Ethereum. Video includes tests specs, link to github repo, and error msg at the end. I'll show the error msg here, too:

[code]

[2021-06-22 14:32] jeapostrophe commented on #193
I made an automated version of this program --- https://github.com/hagenhaus/reach-examples/pull/1

It does not error.

Do you always get this error? Can you monitor Docker at the same time and see if your eth devnet crashes? The error means "I tried to contact the Ethereum devnet node but failed"

[2021-06-22 14:48] hagenhaus commented on #193
Okay. How do I monitor Docker?

[2021-06-22 21:05] jeapostrophe commented on #193
No prob. As for how to monitor Docker, when you run Docker Desktop, it will show you a list of running containers, you can click on one and see its current output, that might have been helpful. There's a command-line way to do that too. If when your machine was hot, if you did `reach docker-reset`, I bet it would have killed a bunch of old containers and things would have cleared up too. We (Reach

[2021-06-22 21:05] #193 closed

[2021-06-27 01:16] MrJackdaw opened #199 "Uncaught Error: hexAddress should be passed as a Buffer"
I understand this has been reported, and am creating an issue to help track it as suggested.

### Issue
Although the `.rsh` file compiles with no failures, the following error is encountered when running the app in the browser:

[code]

<img width="832" alt="Screen Shot 2021-06-26 at 6 10 04 PM" src="https://user-images.githubusercontent.com/6107109/123529901-bf2ac380-d6a9-11eb-85a5-e2cd26e510cf.p

[2021-06-27 02:51] MrJackdaw commented on #199
*Update:* rollback to `rc-58` works as a stop-gap.

[2021-06-27 05:26] DanBurton commented on #199
This should be fixed as of `0.1.2-rc.64`; can you give it a try and let us know if that works for you?

[2021-06-27 05:34] MrJackdaw commented on #199
Well the _good_ news is -- the first error disappeared.

The bad news? It changed. 😕

Still happens when the browser application is launched.

<img width="830" alt="Screen Shot 2021-06-26 at 10 33 01 PM" src="https://user-images.githubusercontent.com/6107109/123533979-7d604400-d6ce-11eb-97af-a7d5a30e52eb.png">

[2021-06-28 01:12] AwolDes opened #201 "No Docker Images for Tutorial"
Hey there! Enjoying learning Reach so far, the tutorial is really well done.

Just going through the tutorial and arrived at this section: https://docs.reach.sh/tut-8.html and running `make run-alice` returns the following error, even after `docker login`.

[code]

The `docker-compose.yml` is copied directly from the tutorial. Checking out [reachsh on dockerhub](https://hub.docker.com/u/reachsh) a

[2021-06-28 01:14] AwolDes commented on #201
And never mind - checked [`Makefile`](https://github.com/reach-sh/reach-lang/blob/master/examples/tut-8/Makefile) in the examples and found the issue.

Working now :+1:

[2021-06-28 01:14] #201 closed

[2021-07-01 23:56] MrJackdaw opened #204 "Internal Compiler Error"
### Issue

* Compiler seems mad about my use of an `Array` in a `while` loop
   * The array is received from the front-end, and is assumed to contain `Addresses`
   * No compilation error when the general logic is replicated in a `parallelReduce`

### Error (full output)

[code]

### Application Code

[code]

[2021-07-02 00:14] jeapostrophe commented on #204
@chrisnevers Please pause the error code work and work on this

[2021-07-02 00:32] mrweiner opened #205 "Error "Invalid name shadowing. Identifier 't' is already bound" when nesting parallelReduce()"
# Issue Overview
I'm experiencing an awkward error when nesting parallelReduce(). I'm not sure whether this is expected behavior or a bug. Specifically I'm encountering Example 4, but found the same error for a different situation in Example 3.

## Example 1 - passes
A non-nested PR that uses participant A in multiple cases passes verification: https://github.com/reach-sh/reach-lang/blob/master/ex

[2021-07-02 00:35] jeapostrophe commented on #205
@chrisnevers Look at this too please, an internal macro variable is being exposed

[2021-07-02 15:01] #204 closed

[2021-07-02 15:11] chrisnevers commented on #204
@MrJackdaw thanks for opening this issue; I have fixed it in the commit above. Also, when you use `assume`, don't forget to `require` the same conditions in the following consensus step.

Note @jeapostrophe :

After fixing this issue, It looks like local variables, when made assumptions about, do not appear in the model or are in a different scope. I'm gonna make a ticket to investigate this at a

[2021-07-02 16:21] chrisnevers commented on #205
@mrweiner Thanks for opening this issue; it has been fixed in this [recent commit](https://github.com/reach-sh/reach-lang/commit/81c22c12afc64b833464979eed56d34c682446af).

[2021-07-02 16:21] #205 closed

[2021-07-02 16:27] mrweiner commented on #205
Awesome, thanks Chris!

[2021-07-02 17:01] MrJackdaw commented on #204
Thanks @chrisnevers!

[2021-07-02 17:05] MrJackdaw commented on #199
@DanBurton Heya -- not sure if you saw my last response; just wanted to update that issue persists in `rc-65` (same stack trace)

[2021-07-02 18:47] mrweiner opened #206 "reachc: The compiler has encountered an internal error: lookup_var v73"
## Overview
Encountering the following error:
[code]

## Source
[code]

[2021-07-02 18:48] jeapostrophe commented on #206
Thank you! We'll look at it

[2021-07-08 16:32] KBryan opened #208 "Error when using Relay 26be,26be,send,m1,false,SEND REPEAT @ 601 x 33 / Also Related to Algorand"
I'm receiving this error in projects that implement a Relay account. Here's the debug information for an interactive test runner. Using the Relay example

Starting example game as Relay
Would you like to create an account? (only possible on devnet)
y
Do you want to deploy the contract? (y/n)
n
Please paste the contract information:
{"address":"0xC87539117dfE46FEa8366eFaef3c37C1520e4BeF","creation_

[2021-07-08 20:47] jeapostrophe commented on #208
As the contract already been used?

[2021-07-08 21:04] KBryan commented on #208
Here is a project that show's the error I'm describing.
https://github.com/KBryan/relay_interactive_test_runner

[2021-07-08 22:02] BebeGene opened #209 "Supporting documentation for workshops: defining what "data types" are available"
**Summary**
- In our workshops, we ask the client to plan their script. We prompt them specifically to think of the "data types" that they will need. For a non-Javascript engineer, they might not know what's possible. We could link to the types available.

---

**Section and Link**

- For reference, we prompt them to think of data types in workshop 4.4 under 4.4.2.  https://docs.reach.sh/workshop-

[2021-07-09 02:15] KBryan commented on #208
I did some edits to the project described and I know getting the following error.
Bob attaches to the contract as the Relay.
Bob joins the application as the Relay.
/stdlib/dist/cjs/ETH_like.js:397
                            throw Error("I should be " + some_addr + ", but am " + address);
                                  ^

Error: I should be 0xE59a8121827eBD9330a51E2bEbA5B9B3CdC51c06, but am 0x

[2021-07-09 02:58] KBryan commented on #208
This seems to be on my end and how Promises are being used. Closing this issue.

[2021-07-09 02:58] #208 closed

[2021-07-09 10:33] Minda0411 opened #210 "Where to use reach"
how to create .rsh document

where to use reach ? VsCode?

[2021-07-09 12:57] jeapostrophe commented on #210
Hi @Minda0411 , you can use any text editor. If you are getting started coding and don't have a preference, I recommend VSCode and installing the Reach extension --- https://marketplace.visualstudio.com/items?itemName=reachsh.reach-ide

[2021-07-10 05:56] jboetticher opened #212 "ParseVal Error With Reach"
Attempted to make a reach program, but it had a parse issue.

Here is the error:
[code]

Here is the gist of the code that generated the issue:
https://gist.github.com/jboetticher/33dffa61b5904a887421ab86dd7f3dd3

[2021-07-10 06:12] jboetticher commented on #212
As far as I can tell, this could be an issue with trying to use `Array.replicate` on an object.

[2021-07-10 14:35] chrisnevers commented on #212
Hi @jboetticher , thanks for opening this issue.

I believe you are using an old version of `reach`. Could you run `reach update`, followed by `reach hashes` and ensure you are using the following versions:

[code]

After updating, you should no longer receive this internal compiler error. However, there is a verification error in your code & I notice that the verification error we provide is rath

[2021-07-10 18:50] jboetticher commented on #212
It looks like I was on reach hash de6bd627. Weird... I followed the installation procedure in the tutorial. Thanks for the help, and hope the updated verification error will help someone else in the future.

[2021-07-10 18:50] #212 closed

[2021-07-12 09:47] Lumene98 opened #213 "Testing suite outside of a network"
Do you have in program an outside-of-the-network testing suite or something related to testing?

[2021-07-12 13:25] jeapostrophe commented on #213
Please correct me if I am wrong. I think you are saying, "All of the Reach examples use automated tests that work with a devnet. Can I write test programs that don't use any network at all, like how I write unit tests in my normal JavaScript code?" If that's the question, then the answer is that you would just write unit tests as `assert`s. This article --- https://docs.reach.sh/guide-assert.html

[2021-07-12 13:40] Lumene98 commented on #213
Thanks!

[2021-07-12 13:40] #213 closed

[2021-07-15 02:12] #206 closed

[2021-07-15 02:12] jeapostrophe commented on #206
Sorry for the delay in fixing this. It was pretty straight-forward, but I was stuck behind releasing 0.1.3

[2021-07-15 03:10] #209 closed

[2021-07-15 19:23] mrweiner commented on #206
No worries, figured it was something to do with the release schedule. Thank you!

[2021-07-16 19:02] mrweiner opened #220 "Compiler error: continue not in while"
The program is in a fairly finished state so I'd rather keep it private. I'll pass the source along to Jay.

[2021-07-20 00:03] #220 closed

[2021-07-20 00:05] jeapostrophe commented on #220
Good news: I found a really small example program with the same problem.
Bad news: Your program can't work and the compiler change I'm working on is all about detecting the problem and showing it well.

Your `parallelReduce` inside of a `while` violates the "`continue` must be dominated by communication" rule, because the `which` behind the scenes of the `parallelReduce` could have a false conditi

[2021-07-20 02:02] mrweiner commented on #220
Thanks @jeapostrophe, makes sense. Do you think it might be worthwhile for me to to deconstruct my `parallelReduce` implementations to `while`+`fork` instead to try and figure out where it's breaking down? If I go that route, do you think I should wait until you get your compiler update released?

[2021-07-20 02:09] mrweiner commented on #220
It actually looks like just adding a `commit(); Anybody.publish();` before one of my `continues` fixes the problem, so nevermind!

[2021-07-21 17:02] keeganthomp opened #224 "More accurate error handling for lost races on ETH devent"
After speaking with Dan, It appears that the following message is not always the result of insufficient funds. Even though the error may be actually be because a user lost a race, the message `insufficient funds for gas * price + value` does not reflect that.

[code]

From Discord:

It would be helpful to know what is happening or why the the program is failing instead of the generic `insufficient

[2021-07-21 18:25] jeapostrophe commented on #224
I have never been able to get a more specific error out of the geth (the real Ethereum node), but when you run with Ganache, you get some more accurate. I think that the information you want simply isn't provided to us

[2021-07-21 18:27] keeganthomp commented on #224
@jeapostrophe thanks for the prompt reply. I understand. Feel free to close this bad boy.

[2021-07-21 18:30] #224 closed

[2021-07-22 00:46] mrweiner opened #226 "Error: Unrecognized REACH_CONNECTOR_MODE='ALGO-devnet' on reach run"
After `./reach ugrade && ./reach update`, running `REACH_CONNECTOR_MODE=ALGO ./reach run` is throwing an error. There are two issue here:

1. Error: Unrecognized REACH_CONNECTOR_MODE='ALGO-devnet'
2. There's a WARNING for orphaned containers, but `--remove-orphans` is not a valid flag for `reach run`

[code]

[2021-07-22 00:51] DanBurton commented on #226
@mrweiner: Sorry, I think this is an issue where `reach upgrade` gave an updated `reach` script when the corresponding images weren't uploaded yet. They are now (images & js updated to c0117e03), so please `reach update` and try again.

[2021-07-22 00:52] DanBurton commented on #226
You can try `reach docker-reset` to clean up the docker orphans. (The `--remove-orphans` flag refers to the `docker-compose` command that `reach` invokes on your behalf.)

[2021-07-22 00:58] mrweiner commented on #226
Thanks @DanBurton -- `reach update && reach clean` did the trick. Seems to be working as expected now. And thanks for the clarification `reach docker-reset`. Realized that was coming from docker after I posted.

[2021-07-27 11:32] cb0806151 opened #229 "Send Error: cannot estimate gas;"
Alright, running into an interesting error when I try REACH_DEBUG=true ./reach run on this Mancala contract. I currently have it set up to test just one move but it throws this in the debug:
[code]
and this when using just plain old ./reach run
[code]
network type: ETH
contract: https://gist.github.com/cb0806151/4501aa801d4f62026fb6f5424da6cbc0
mjs file: https://gist.github.com/cb0806151/fc6d0ff90

[2021-07-27 11:38] cb0806151 commented on #229
When tested on the Algorand network with `REACH_CONNECTOR_MODE=ALGO ./reach run` it returns a slightly more error
[code]

[2021-07-27 19:20] mattaudesse commented on #226
Hey @mrweiner, I'm going to go ahead and close this issue since it looks like you're all set now, but if that's not the case we can reopen.

[2021-07-27 19:20] #226 closed

[2021-07-28 12:00] jeapostrophe commented on #229
It's hard to find exactly the problem, because I don't understand your computation, but you are using `UInt`, but computing negative numbers. If you turn on `verifyArithmetic: true`, then you'll see some errors related to that. Although @chrisnevers ; there's a ParseVal error that you'll need to fix for the message to be great.

[2021-07-28 21:14] cb0806151 commented on #229
Ah okay; I'll turn that setting on and see what I can find out. Thanks Jay!

[2021-07-28 21:14] #229 closed

[2021-07-30 13:27] Sonlis opened #233 "Algorand stateful smart contract: dynamic cost budget of 700 exceeded, executing gtxns"
While executing the [tic-tac-toe](https://github.com/reach-sh/reach-lang/blob/master/examples/ttt/index.rsh) example, on the Algorand blockhain, it raises the following error after the 7th move:
``` logic eval error: pc=2260 dynamic cost budget of 700 exceeded, executing gtxns ```
I assume this is due to the smart contract replaying each transaction on each move, while its cost limit is 700. To fi

[2021-07-30 16:16] jeapostrophe commented on #233
This is as expected. Not all programs work on Algorand, because it has very strict time and space budgets.

[2021-07-30 16:16] #233 closed

[2021-08-06 11:49] Zetsuboii opened #240 "tut-6 gives compiler error"
Running the tutorial 6 gives following output

[code]

[2021-08-06 12:03] cswenor commented on #240
This happens only when Bob times out.

[2021-08-06 12:08] cswenor commented on #240
On Algorand it doesn't give an error but it just freezes after Bob tries to play his hand after he times out.

[2021-08-07 13:42] jeapostrophe commented on #240
Thanks. I believe I fixed this and it will be released shortly.

[2021-08-07 13:42] #240 closed

[2021-08-08 13:25] AstaDK opened #242 "Why I faced loop requests"
### Discussed in https://github.com/reach-sh/reach-lang/discussions/241

<div type='discussions-op-text'>

<sup>Originally posted by **AstaDK** August  8, 2021</sup>
My code
[code]
And I faced issue loop requests like:
![Screen Shot 2021-08-08 at 16 50 43](https://user-images.githubusercontent.com/80238484/128628012-d24d5e46-aa5f-45f6-9544-0ebf5c362cb3.png)

I'm following overview example to build

[2021-08-08 14:47] jeapostrophe commented on #242
I'm going to delete the discussion and focus on helping you here.

[2021-08-08 14:52] jeapostrophe commented on #242
Can you help me understand what behavior you're seeing and what you expect to see?

- I think you expect to see a "Submit ok" alert. Do you?
- Do you see a transaction signing by Alice corresponding to https://github.com/AstaDK/Send-Info-Dapp/blob/develop/index.rsh#L21 ?
- Are you running a "Bob" client at the same time?

[2021-08-09 06:15] geokos009 opened #243 "TimeOut Issue with Tutorial 6 and 7"
I am facing this issue in tutorial 2.6 and 2.7. The code runs properly when Bob doesn't take his sweet time. This is what happens when Bob takes his sweet time.

Only happens when running for ETH network. Algo I didn't face this issue after running it multiple times.

Bob accepts the wager of 5.
Alice played Paper
Bob played Scissors
 Bob takes their sweet time sending it back...
 Bob takes their

[2021-08-09 09:25] jeapostrophe commented on #243
Sorry about this, I pushed a fix this weekend and we did a release with it yesterday that fixed. Can you update (`reach update`) and try again?

[2021-08-09 09:50] AstaDK commented on #242
yes, but it still waits and nothing alert

yes I have

I'm not sure, I used Truffer Ganache to host and get accounts.
Before I submit I can check the block of transaction and then submitting, I faced a loop request, and Truffer Ganache was very slow due to the loop request. I can't see any block created next time

[2021-08-09 12:46] jeapostrophe commented on #242
That makes sense that you do not see the "Submit ok" alert, because you have `await backend.Alice`, which means that the program will not continue past that point until the entire application is completed and Alice is done interacting. I think that you should probably not have that `await` there but instead deal with it asynchronously.

--

How is the Bob client connecting to the contract? Are you

[2021-08-09 14:18] AstaDK commented on #242
Thank you for your reply.
I removed the await and I can see the alert from Alice function
and Bob can log the result of Alice like
![Screen Shot 2021-08-09 at 20 47 51](https://user-images.githubusercontent.com/80238484/128719860-aa4ee4e8-24a2-4c97-a010-208b1a058c3b.png)
But I still be face the issue loop requests
![Screen Shot 2021-08-09 at 20 46 03](https://user-images.githubusercontent.com/8023

[2021-08-09 14:30] jeapostrophe commented on #242
I don't know much about `setState` vs `useState` vs `setInformation`... those sound like React problems orthogonal to Reach.

The `formatCurrency` message you see on Bob's browser. Where is that in your code?

[2021-08-09 14:33] AstaDK commented on #242
here: https://github.com/AstaDK/Send-Info-Dapp/blob/develop/src/components/user/child-components/detail-user.jsx#L48

[2021-08-09 16:30] #243 closed

[2021-08-09 16:31] geokos009 commented on #243
Thank you Jay! Appreciate the effort that you and your team have put to dole out some good tutorials.

[2021-08-09 17:43] jeapostrophe commented on #243
Thank you for the note and sorry again about the breakage :)

[2021-08-09 20:04] jeapostrophe commented on #242
Interesting. That means the Alice is definitely publishing the first message and Bob is getting it. Are you using a wallet?

[2021-08-10 02:07] AstaDK commented on #242
Not yet, I used the [Ganache Truffle](https://www.trufflesuite.com/ganache) to get free account and testing.
and Do you know the reason for the loop request?

[2021-08-10 10:40] jeapostrophe commented on #242
I don't know the reason for the repeated request. My guess is that Alice is waiting for Bob's reply or Bob is waiting for Alice's reply.

When you say you used Ganache to get an account, I assume you mean this part --- https://github.com/AstaDK/Send-Info-Dapp/blob/a1b31c874a8ac74b4efc3d04804c3ea981bd2c99/src/components/home/home.jsx#L13 --- where you have hard-coded in some private keys. I think y

[2021-08-11 04:36] hernandp opened #246 "RE0073 on match statement."
The following experimental program will throw

[code]

when deciding for a variant **or** default, in a publish expression of a Parallel Reduce loop.

It is a bug or something I missed?
Version is latest reach at this time of writing.
Thank you.

[code]

[2021-08-11 09:29] AstaDK commented on #242
I think that use the wallet or use a directive account is the same.
For example: if I had a project and I want to use a Mnemonic account (newAccountFromMnemonic) so I only copy and pass the key of my account in order to login into my D-App and then I can use it.
===
so weird. In another contract that I build and I faced the same loop requests.

[2021-08-11 09:51] jeapostrophe commented on #246
Thanks @hernandp for finding this. This is definitely a problem in Reach because either there's an error or it's a bad error message. In your case, you can make progress by removing in the `default` case, since you have everything covered, since there's only one variant.

@chrisnevers Will you look at this? The problem is here --- https://github.com/reach-sh/reach-lang/blob/master/hs/src/Reach/Eva

[2021-08-11 14:08] hernandp commented on #246
Thanks @jeapostrophe.  Leaving just one case will throw (-- i dont know if the context of the error is in the `match` statement or due to other problems, just FYI):

[code]

btw Can a particular variant-type member be tested without `match` ? e.g, let the `Command`  variant:
[code]

so It would be possible to do:

[code]

Probably this could be implemented as a function using `match` of course.

T

[2021-08-12 01:51] #246 closed

[2021-08-12 01:57] jeapostrophe commented on #246
That error, @hernandp, is because this line `deposit: () => { true },` is not `deposit: (_) => { true },` (notice the parameter) and the `deposit` case contains a Tuple.

`isSome(x)` only detects if `x` is a `Some` instance. I think you could guess the implementation: https://github.com/reach-sh/reach-lang/blob/master/hs/rsh/stdlib.rsh#L41-L43

You may want to write some functions like that and ma

[2021-08-12 01:57] jeapostrophe commented on #242
I think I'm at the edge of what I can tell. Perhaps we could meet on the Discord and do some live debugging? Could you DM me there?

[2021-08-12 02:04] AstaDK commented on #242
yes, please. Can you add discord account?.
my account: asta.dev.520@gmail.com

[2021-08-12 12:50] jeapostrophe commented on #242
Join the Discord here --- https://discord.gg/AZsgcXu

And let's move the discussion there!

[2021-08-12 12:51] #210 closed

[2021-08-13 23:49] MrJackdaw commented on #199
Closing (with your blessing); issue relates to Algorand SDK and [ViteJS](https://vitejs.dev/) bundler, and [was reported to them here](https://github.com/algorand/js-algorand-sdk/issues/398).

[2021-08-13 23:49] #199 closed

[2021-08-16 18:52] hernandp opened #251 "getAddress() returns 0x... formatted addresses with ALGO stdlib"
Let be Ithis piece of JS frontend code:

[code]

According to manual, with `ALGO` parameter in the loadStdlib function will select the Algorand network connector, so I expect `getAddress()` to return Algorand addresses -- but I get instead:

[code]

Thanks.

[2021-08-16 18:54] jeapostrophe commented on #251
I believe that you are looking for `stdlib.formatAddress(x)` --- https://docs.reach.sh/ref-frontends-js-utils.html#%28idx._%28gentag._477%29%29k

[2021-08-16 18:54] #251 closed

[2021-08-16 18:58] hernandp commented on #251
Excellent.

Thank you , it works.

[2021-08-20 11:49] Zetsuboii opened #253 "Arrow returns don't work with match"
[code]
This code raises
[code]
error, and changing match expression to
[code]
solves it. Would be better if both version worked

[2021-08-20 16:53] jeapostrophe commented on #253
This is not a Reach problem. This is just a misunderstanding on your part of what JavaScript syntax is.

The `,` on line 23 --- `val,` is the comma operator and the next expression, on the next line, is an identifier, `b`, and the `:` is not allowed there. On the right-hand side of a `=>` is an expression, and you've written an expression `val, b` (which means, evaluate `val`, throw it way, return

[2021-08-20 18:05] Zetsuboii commented on #253
Oh, I thought it worked like how objects work in Js as you can define arrow functions inside objects. But I guess it is different than objects.

[code]

I believe same principle goes for parallelReduce, even though it is possible to pass arrow callbacks to functions that calls other functions without comma operator being an issue; we have to pass arrow functions inside parentheses.

[code]

[2021-08-20 18:07] jeapostrophe commented on #253
It is possible that this is a limitation of the JS parser we use related to this branch https://github.com/reach-sh/reach-lang/tree/js-concise-body

[2021-08-27 12:43] KBryan opened #257 "Reach generated Solidity error when deploying contract using injected Web3 from Remix."
When running Reach generated Solidity in Remix I received the following error.

This contract may be abstract, not implement an abstract parent's methods completely or not invoke an inherited contract's constructor correctly.

Being convinced this was my end. I tried the Solidity that is found in the tutorial

https://github.com/reach-sh/reach-lang/blob/master/examples/tut-8/build/index.main.sol

[2021-08-28 13:52] jeapostrophe commented on #257
I don't think this error is meaningful. The ReachContract doesn't have an abstract parent or anything like that. Is there a way for Remix to give a more specific message?

[2021-08-28 14:12] KBryan commented on #257
Here is a gist containing more information. Hope it helps.

https://gist.github.com/KBryan/8f2910833ee4260ac04e17d5c8a7f9eb

[2021-08-28 14:14] jeapostrophe commented on #257
Thanks!

[2021-08-28 14:14] #257 closed

[2021-08-30 23:17] rfustino opened #260 "Python RPC.. hangs on backend deployment:"
def play_alice():
        rpc_callbacks(
            '/backend/Alice',
            ctc_alice,
            dict(wager=rpc('/stdlib/parseCurrency', 5), deadline=10, **player('Alice')))

Here is the info on the RPC Call, the parseCurrency works, but the backend Deployment for Alice hangs

[code]

[2021-08-30 23:18] rfustino commented on #260
[index.zip](https://github.com/reach-sh/reach-lang/files/7080075/index.zip)

[2021-08-31 21:19] rfustino opened #261 "Once JS RPC debugging starts, it can not be turned off ."
When using REACH_DEBUG environment variable for RPC JS debugging...

export REACH_DEBUG=0    // RPC debugging
export REACH_DEBUG=1    // RPC and line by line debugging
export REACH_DEBUG=     or unset REACH_DEBUG    //turns off debugging

The exception is in RPC JS, there is a bug, that once RPC debugging starts, it can not be turned off even when unset.
Again this is just for RPC JS, .... RPC Pyt

[2021-08-31 21:31] jeapostrophe commented on #261
What's the difference between "RPC debugging" and "line-by-line debugging"? Here's my hypothesis: the first is the messages that say `RPC m` and `RPC m -> r`, but the second is the diarrhea messages about everything Reach is doing.

If so, then I suspect the problem is that this comparison --- https://github.com/reach-sh/reach-lang/blob/master/rpc-client/js/index.mjs#L32 --- is not this comparison

[2021-08-31 21:32] jeapostrophe commented on #260
We'll look into this. Sorry for the trouble!

[2021-09-01 14:12] jeapostrophe commented on #261
If I'm wrong about what I think the problem is, please reopen!

[2021-09-01 14:12] jeapostrophe commented on #261
(This won't be included until the 0.1.4 release)

[2021-09-01 14:22] rfustino opened #262 "Once JS RPC debugging starts, it can not be turned off (re-opened)"
When using REACH_DEBUG environment variable for RPC JS debugging...

export REACH_DEBUG=0 // RPC debugging
export REACH_DEBUG=1 // RPC and line by line debugging
export REACH_DEBUG= or unset REACH_DEBUG //turns off debugging

The exception is in RPC JS, there is a bug, that once RPC debugging starts, it can not be turned off even when unset.
Again this is just for RPC JS, .... RPC Python and RPC G

[2021-09-01 14:27] #262 closed

[2021-09-01 14:28] jeapostrophe commented on #261
@rfustino You didn't re-open, you made a new issue. What is wrong with my diagnosis of the problem?

[2021-09-01 14:32] rfustino commented on #261
ok. actually I miss-read your reply. I missed the 'If' on 'If' I'm wrong.  So I re-opened it. Have not re-opened an issue before, i thought that was how it was done Sorry :) my bad. Will close out the other one.

[2021-09-01 14:54] jeapostrophe commented on #261
Oh, okay. So it sounds like you think the problem might be solved (but of course you can't test it yet)

[2021-09-01 15:44] #261 closed

[2021-09-01 20:53] rfustino opened #263 "Internal Server Error for url: https://127.0.0.1:3000/backend/Alice"
When running RPC Python in two IDEs or in two different directories sometimes in the same IDE, each with venv,  I will get this error below. The question is how do I recover from this without rebooting my machine?   reach clean, reach reset, reach docker-reset and netstat -vanp tcp | grep 3000 with lsof -1 tcp:3000 all do not work.

I am getting error when trying to run python from more than one s

[2021-09-02 15:44] jeapostrophe commented on #263
Thanks, I've scheduled this :)

[2021-09-02 22:16] Zetsuboii opened #265 "fluid ref unbound: FV_baseWaitTime in a publish().timeout()"
[code]

Compiling this code gives the error, on the latest version of reach

[2021-09-03 16:31] jeapostrophe commented on #265
Thanks! Working on it!

[2021-09-11 13:26] JupiterXiaoxiaoYu opened #272 "Deploy on conflux and got transaction timeout error"
run DAPP on conflux but got timeout throw while deploying.
![image](https://user-images.githubusercontent.com/71649294/132949387-0c51e2a0-dcf6-4195-a29a-4f3029c49991.png)

here's the code
https://github.com/JupiterXiaoxiaoYu/reach-edcredit

[2021-09-11 13:38] jeapostrophe commented on #272
Are you deploying to a devnet? Testnet?

[2021-09-11 13:41] JupiterXiaoxiaoYu commented on #272
I'm using Testnet

[2021-09-11 14:36] JupiterXiaoxiaoYu commented on #272
Testnet

[2021-09-13 20:10] kodisj opened #274 "Wrapper for Magic Wallet Integration - Feature Request"
All, I am trying to integrate Magic ( https://magic.link/docs/blockchains/algorand ) with Reach, looks like it needs a wrapper with ARC 11 compatibility.

[2021-09-14 02:04] Thegaram opened #276 "Should allow configuring devnet port"
[code]

[2021-09-14 02:47] Thegaram opened #277 "Unexpected behavior in Rock, Paper, Scissors with 2 Alice instances"
I tried the "Rock, Paper, Scissors" by playing 2x Alice and 1x Bob (simultaneously). The game between Alice1 and Bob is normal and Bob wins. However, instead of failing to join the game, Alice2 will also lose regardless of her hand.

Not sure what is going on here or whether this is covered in the docs. If it is not, I suggest you add some remarks about what this situation translates to in a Reach

[2021-09-14 13:22] jeapostrophe commented on #276
Thanks, I'll make a note of this!

[2021-09-14 13:26] jeapostrophe commented on #277
The second isn't losing, she's just observing the outcome of the game. If you were to have done this in a browser, you would not have seen any signing attempts, because she's just watching the old messages from the first time you played the game. The contract exists for exactly one occurrence of the game and then it is over, but the blockchain records what happened forever and people can always go

[2021-09-14 13:26] #277 closed

[2021-09-14 13:30] jeapostrophe commented on #274
We do not plan on implementing any new ARC-11 wrappers. We only have the one for MyAlgoConnect, because we need to have something available until wallets start adding ARC-11 support themselves. If you want to do it yourself, you'll want to refer to
- https://github.com/reach-sh/ARCs/blob/reach-wallet/ARCs/arc-0011.md
- https://github.com/reach-sh/reach-lang/blob/master/js/stdlib/ts/ALGO.ts#L587-L6

[2021-09-14 13:30] #274 closed

[2021-09-14 13:35] Thegaram commented on #277
Thanks for the explanation. In this case, I wonder why the final balance of Alice2 is `997.9999`? I'd expect it to be `1000`.

[2021-09-14 13:56] jeapostrophe commented on #277
In my experience, it is often the case that client-side libraries (like Ethers) will cache an account's balance and locally update it when they issue transactions. So, if my balance is 100, then I make a txn that costs me 1, the library updates the balance to 99, but when the txn is rejected, the library doesn't actually update the balance automatically and will only lazily (such as after a cache

[2021-09-15 05:10] jboetticher opened #278 "Backend Error from ./reach run"
[This is the gist where the error occurs.](https://gist.github.com/jboetticher/3d02bb7af3748d149cf8528da5e5fcc5)
The code is modified from the dumb nft example, which still runs fine.

My reach & eth hash is d2b0c4e5, with everything else 92f35160.

The output when running 'reach run' is:
`
Alice makes id #48383029078477871379525852225787778183581072106774930890024756709128553286536
args:
[
  [ Bi

[2021-09-15 10:42] geokos009 opened #279 "Reach Compiler Issue"
Encountered this error message when compiling :

Verifying knowledge assertions
Verifying for generic connector
  Verifying when ALL participants are honest
reachc: The compiler has encountered an internal error:

  p

This error indicates a problem with the Reach compiler, not your program. Please report this error, along with the pertinent program, to the Reach team as soon as possible so we can

[2021-09-15 10:50] jeapostrophe commented on #279
Can you share the program that leads to this error? If you don't want to post it, you can email me directly or DM me on Discord.

[2021-09-15 13:24] jeapostrophe commented on #278
What's the error?

[2021-09-15 16:14] jboetticher commented on #278
Ah, sorry. I thought I included the entire thing in the copy & paste.
[code]

[2021-09-15 16:20] jeapostrophe commented on #278
Thank you. I will look at it in more detail. If you want some more context, you can run with `REACH_DEBUG=Y` and you'll get a lot more output.

This error means that the `publish` on this line is being rejected --- https://gist.github.com/jboetticher/3d02bb7af3748d149cf8528da5e5fcc5#file-index-rsh-L57 --- despite the local client being honest.

I can't tell why you aren't seeing any other log mess

[2021-09-16 03:15] AwolDes commented on #279
@geokos009 @jeapostrophe I am also getting something similar to this now. The extra information I can add is that a `z3` command is going bezerk and chewing up CPU. The compile command just hangs until I kill `z3` using htop, then I get this error.

`reachc: user error (Missing response from solver)`

I'm on Ubuntu 18.04, and this started happening only today. It was fine all morning then out of n

[2021-09-16 13:12] jeapostrophe commented on #279
@AwolDes This is a completely unrelated problem. If you want to send me the entire program, I could look into it. I don't have enough context to see why one program would converge but the other would take forever. But basically, what you're experiencing is completely expected from Z3. We spend up to 2 minutes per theorem, so if your program has 100 theorems, it could take up to 200 minutes to fini

[2021-09-16 13:26] mattaudesse commented on #260
Hey @rfustino, in the future it'd help a lot if you shared your code in the form of a gist (or similar) rather than an archive. It's much easier to spot and annotate simple mistakes like the following that way:

[code]

These two definitions of `play_bob` mean different things due to Python's indentation-sensitivity. In the former, since `rpc_callbacks` is aligned with `print` it actually becomes

[2021-09-16 13:26] #260 closed

[2021-09-16 16:49] DanBurton commented on #272
@JupiterXiaoxiaoYu I've updated the docs with more information about deploying to TestNet on Conflux. Can you take a look at this and let us know if these instructions resolve your issue?

https://docs.reach.sh/ref-network-cfx.html#%28part._cfx-faq-mainnet%29

[2021-09-16 21:16] mattaudesse commented on #263
@rfustino I'm afraid I can't reproduce or troubleshoot this without some more details about your setup + steps.

**If you're still having trouble with this please let us know the exact steps you're following, with as much detail as possible, and share the code where you're able to see it break.**

`reach docker-reset` should nuke anything Docker's doing and make rebooting unnecessary, so I suspect

[2021-09-16 22:32] AwolDes commented on #279
@jeapostrophe ok cheers for the explanation. I have another case which causes the same type of behavior, should I just DM on discord?

[2021-09-17 13:18] jeapostrophe commented on #279
@AwolDes Yes please!

[2021-09-22 17:42] DanBurton opened #287 "fluid ref unbound: FV_baseWaitTime"
This program compiles:

[code]

But removing the Deployer causes an internal compiler failure:

[code]

The error message says:

[code]

[2021-09-22 17:55] jeapostrophe commented on #287
I believe this is the same as https://github.com/reach-sh/reach-lang/issues/265 and will be fixed by my branch

[2021-09-23 04:46] AwolDes commented on #177
Hey @jeapostrophe just checking in on this - with the recent updates to Reach has anything changed? Is there a particular dependency that is blocking Reach working on apple silicon devices?

[2021-09-23 11:27] jeapostrophe commented on #177
Right now, we're waiting/working on Haskell Stack support --- https://github.com/commercialhaskell/stack

[2021-09-23 23:13] #279 closed

[2021-09-23 23:15] jeapostrophe commented on #278
Closing, please reopen if you can find any more detail.

[2021-09-23 23:15] #278 closed

[2021-09-23 23:15] #287 closed

[2021-09-23 23:15] jeapostrophe commented on #265
The new release fixes this.

[2021-09-23 23:15] #265 closed

[2021-09-23 23:15] jeapostrophe commented on #272
We've just done a release that has ironed out the last kinks in this. Please let us know if you have a similar problem in the future.

[2021-09-23 23:15] #272 closed

[2021-09-24 09:00] JupiterXiaoxiaoYu commented on #272
ok thx

[2021-09-28 13:28] mattaudesse commented on #263
Hey @rfustino - I'm going to close this since the discussion seems to have dried up, but please reopen if it's still affecting you. Thanks!

[2021-09-28 13:28] #263 closed

[2021-09-29 03:23] hamirmahal commented on #33
For future people reading this, I just want to report that I also encountered the `I'm confused, some scaffolded files exist, but not all` error message, and I resolved it by removing `package.json`, which I myself had added earlier by running `npm i --save-dev @types/node` .

[2021-10-06 17:31] rfustino commented on #260
Thanks! Will do.

[2021-10-11 18:55] phoniks commented on #177
@jeapostrophe I've been able to get stack compiled on my M1 Macbook - should it theoretically be possible to build my own images from the dockerfiles and run Reach?

[2021-10-11 20:33] jeapostrophe commented on #177
Yes, essentially you want to go to the `hs` directory and type `hs-build`

[2021-10-11 22:55] phoniks commented on #177
Cool, that worked.  Is there a contributors guide or something like that that might help me get it configured correctly?  I got an error: `Unset `REACH_EX` environment variable`, but I'm not sure how to set it.

[2021-10-13 17:54] phoniks commented on #177
As you expected once the REACH_DOCKER variable was set to 0 things worked perfectly without any additional steps. Thanks @jeapostrophe.

[2021-10-20 04:36] AmbroseHill opened #325 "Updating an Address array causes compile error"
[code]

The above code gives the following output when trying to run or compile:

[code]

[2021-10-20 15:40] jeapostrophe commented on #325
I'm going to pushing a fix shortly, but in this case, the "problem" is that Reach isn't catching an error in your program and it is getting through to a later stage and you get a weird error.

This line `const newX = x.set(0,this);` is wrong, because `x` is an array of `Maybe(Address)` but `this` is an `Address`, so it can't be assigned there. You want `x.set(0, mAddress.Some(this))`

[2021-10-28 20:01] pnapoliJC opened #333 "Custom token supply through `opts` object in launchToken does not work as intended"
**Describe the error**

When using the `stdlib.launchToken` function and supplying the `opts` object, the created token supply is always the maximum supply (281,474,976,710,656 or 2^48)

**To Reproduce**

Using the example [simple-nft-auction](https://github.com/reach-sh/reach-lang/blob/master/examples/simple-nft-auction/index.mjs) , after the token is launched, printing the supply or connecting t

[2021-10-29 16:03] #333 closed, assigned to nobody

[2021-10-31 16:45] 1forh opened #339 "Module not found: Can't resolve 'net'"
Trying to follow along with this tutorial https://developer.algorand.org/tutorials/algorand-blockchain-development-using-reach-part-7-reactjs-front-end-and-algosigner-integration and getting an error. Any help would be appreciated!

**Describe the error**

When using the code in my ts file `import * as reach from '@reach-sh/stdlib/ALGO';` I get the below error:

[code]

<img width="437" alt="Clean

[2021-11-01 00:01] DanBurton commented on #339
That copy of our tutorial is not hosted or updated by us. See our copy instead:

https://docs.reach.sh/tut-9.html

Specifically, notice the difference in what that old version recommends:

[code]

Versus what our up-to-date version recommends:

[code]

See [the docs for loadStdlib](https://docs.reach.sh/ref-frontends-js-loader_mjs.html#%28javascript._%28%28load.Stdlib%29%29%29) for details.

[2021-11-01 00:01] #339 closed

[2021-11-01 16:13] phoniks commented on #177
@jeapostrophe - I've got reach running on my M1, and I'd be interested in submitting a PR to resolve this issue, but I'm not sure where to begin.  If I understand correctly, it's an issue of Haskell Stack not being officially available yet but since I have it working on my machine would it just be a matter of including the new M1 compatible docker images?

[2021-11-01 19:01] blackgirlbytes opened #341 "Create a Code of Conduct"
We are missing a code of conduct to help meet community profile standards.

[2021-11-02 15:02] jeapostrophe commented on #177
Thanks @phoniks

We know that you can install `stack` and then go into `hs` and run `make hs-build` and get a working version of Reach.

The issue is that we don't distribute Reach as platform-specific binaries built this way, nor do we expect users to compile it themselves. Instead, we distribute Reach via Docker. Specifically the Dockerfiles here --- https://github.com/reach-sh/reach-lang/blob/m

[2021-11-09 04:28] AmbroseHill opened #361 "Solidity Compiler Error: SPDX license identifier not provided in source file."
**Describe the error**

When compiling a staking contract, the theorems pass but the compiler then throws a solidity error. The error is:
[code]

**To Reproduce**
The issue occurs when compiling a staking contract.  I will share the snippet that is causing the compilation error ( Commenting out the below code in the contract allows it to compile)

[code]
Let me know if you want more code snippets.

[2021-11-09 16:01] jeapostrophe commented on #361
Would you please email (or message me on Discord) the full program? I can't reproduce the error from the snippet.

I will say, however, that looking at your program, I am going to try and disallow it completely, because it does an API return in a different consensus step than the call.

Also, your hashes are old... --- a1d29a4b was released yesterday --- and it MAY include a fix for this issue. Bu

[2021-11-11 08:36] judgie79 opened #369 "Trouble using stdlib in node project"
Hi,
I am trying to test a small contract within a node application as a participant.

While trying to load the contract I always run into this issue:

[code]
leads to:
[code]

I am testing with `"@reach-sh/stdlib": "^0.1.6-rc.8"` and the contract was created with the latest cli version.
Running a test with the command line works without issues, but loading the backend and deploying it inside a run

[2021-11-11 17:16] DanBurton commented on #369
See my comment on this other issue for details on how to make sure you are importing the stdlib correctly:

https://github.com/reach-sh/reach-lang/issues/339#issuecomment-955816520

[2021-11-11 20:05] jeapostrophe commented on #369
I've tried to reproduce this error by running the code locally and can't. One thing though is that I wrote my own `mjs` file because you just had this snippet:
[code]
Is that really what you have? If so, I wonder if maybe the problem is that `index.main` isn't a valid file?

[2021-11-11 20:19] DanBurton commented on #369
I may have jumped to an incorrect conclusion about why your code is failing.

I noticed that the top of your compiled file says this

[code]

However, `a1d29a4b` corresponds to an older version.

`"@reach-sh/stdlib": "^0.1.6-rc.8"` corresponds to a newer release, `d6bced85`. Can you run `./reach update`, then `./reach hashes` to be sure it's updated to `d6bced85` and try again?

[2021-11-12 08:24] judgie79 commented on #369
I tried importing it like this, but with the same result:

// This will work as expected.
import {loadStdlib} from '@reach-sh/stdlib';
const reach = loadStdlib(process.env);

yes I have a index main file. Maybe that's the problem. I had trouble importing the mjs file as shown in the examples. My Node application is using typescript and It just would not import it. I renamed the file to index.main.

[2021-11-12 09:17] judgie79 commented on #369
I updated all services and recompiled. Still same problem.

Please find the full stacktrace:

[2021-11-12T10:15:37.040] [ERROR] AlgorandContractsController - [MJJ15INT] 500: co.fromNet is not a function
TypeError: co.fromNet is not a function
    at Object.fromNet (/home/mrichter/sources/LEX.Microservices/lex.microservices/lex.microservices.algorand/lex.microservices.algorand.contracts/node_module

[2021-11-12 09:21] judgie79 commented on #369
This is the index.main.js after typescript had its way with it:

"use strict";
Object.defineProperty(exports, "__esModule", { value: true });
exports._APIs = exports._Participants = exports._Connectors = exports.Depositer = exports.DepositService = exports._getMaps = exports._getViews = exports.getExports = exports._backendVersion = exports._versionHash = exports._version = void 0;
// Automaticall

[2021-11-13 09:11] tuomohopia commented on #177
@phoniks & @jeapostrophe would either one of you be able to give a bit more detailed instructions on how to compile Reach successfully on Mac M1 with Haskell Stack?

For me, I get the following error when having `haskell-stack` installed via `brew` and attempting to run `make hs-build` in the `hs/` folder:
[code]

I suppose it's because `lts-17.4` would use [ghc-8.10.4](https://www.stackage.org/lt

[2021-11-15 11:51] jeapostrophe commented on #177
We (Reach) don't support this path, but are working on it. I don't know why the error you're seeing shows up.

[2021-11-15 12:12] phoniks commented on #177
I think the key is to use [Rosetta](https://osxdaily.com/2020/12/04/how-install-rosetta-2-apple-silicon-mac/).   When tying to help someone else set this up we did run into this problem - I'm not sure if she ever overcame it, but when I did this process I never ran into that error.  My thinking at this point is that you should just switch to an i386 terminal and run the install process normally.

[2021-11-15 14:36] jeapostrophe commented on #369
Hi @judgie79 ; you keep showing the Reach generated program. I am interested in seeing your JavaScript/TypeScript program that contains

[code]

Can you share that? If you don't want to post, you can send me a link to a gist/etc on Discord via a DM.

[2021-11-22 21:16] AWolf81 opened #405 "Tutorial 3 - Rock, Paper, and Scissors - Deprecation warning deploy & attach"
**Describe the issue**

I've followed the tutorial and started the example with `REACH_CONNECTOR_MODE=ALGO ./reach run` and received two deprecation warnings one for `deploy` and the second for `attach`.

**To Reproduce**

The tutorial code from Github will show them.

Example output:

[code]

**Expected behavior**

The program should run without a deprecation warning.

**Extra information**

What

[2021-11-22 21:35] jeapostrophe commented on #405
Yes, that's what the update should be. It would definitely be appreciated if you submitted a PR, but don't feel like you have to. We're actually getting ready to launch a new version of the docs, so we've been a little light on the updates to it. If you are just nervous about the warning, there's no problem at all with using the `deploy/attach` version. :)

[2021-11-28 07:12] anmolsahoo25 opened #417 "Typechecking error in PAY_SPEC"
**Describe the error**

While writing a PAY_SPEC consisting of network token and non-network token, the type-checker complains.

**To Reproduce**
Running `reach compile index.rsh` on this -

[code]

The error obtained is -

[code]

Whereas this works -
[code]

Sorry if this is stupid, but I am at my wit's end. Since I am replacing a constant of type `UInt` with a variable of type `UInt`, I don't t

[2021-11-28 10:45] #405 closed

[2021-11-30 06:30] tomxbacked commented on #361
**Describe the error**
This has started occuring (again?) on the most recent version.
[code]
**Expected behavior**

Contract compiles and passes verification.

**Extra information**

Reach Version:
reach 0.1.7-rc.1

Reach Hashes:
[code]

[2021-11-30 11:31] jeapostrophe commented on #361
@chrisnevers Can you please look into this?

@AmbroseHill If possible, would you share your program with @chrisnevers so he can ensure that his fix doesn't just work on his test program but on yours too? You can DM him on Discord (I am away at a conference)

[2021-11-30 11:47] jeapostrophe commented on #361
I got it and forwarded it to Nevers :)

[2021-11-30 19:12] kodisj opened #420 "API call is failing in latest version"
Reach Hashes:

reach: b34d92ae
reach-cli: b34d92ae
react-runner: b34d92ae
rpc-server: b34d92ae
runner: b34d92ae
devnet-algo: b34d92ae

Checked 205 theorems; No failures!
reachc: The compiler has encountered an internal error:

  The Solidity compiler failed with the message:
Warning: SPDX license identifier not provided in source file. Before publishing, consider adding a comment containing "SPDX-

[2021-11-30 19:22] chrisnevers commented on #420
Thanks for opening this issue @kodisj

Are you calling an API with an `Address` in its domain? If so, I pushed a fix for this issue, but it has not been released yet. If not, could you share your program with me? You can paste it here or DM it to Chris Nevers#6510 in our Discord.

Thanks,
Chris

[2021-11-30 19:36] kodisj commented on #420
My discord alias is @enthuGuy.  Sent a friend request for DM.  Please accept it. I will send you the code.

[2021-11-30 19:38] kodisj opened #421 "11 Issues that I encountered"
REACH ISSUES:
1)	Minting token using REACH does not show in AlgoExplorer when we search for the asset using ASA number.  It only shows in the balance of the asset holder.  REACH claims that the data (MetaData) is perfect on chain, so it is an AlgoExplorer issue.
2)	Minting token using REACH does not show Asset Name and Unit in GoalSeeker when we search for the asset using ASA number.  REACH claims

[2021-12-01 13:55] jeapostrophe commented on #421
1. As you note, AlgoExplorer has identified this as an error on their end.
2. As you note, this is a problem with PureStake.
3. How are you building your application? If you are using webpack directly, you may need to configure it to identify which modules you want to use. This is not a Reach problem, but an issue with your JS build system.
4. Same as 3
5. Thank you for identifying this problem la

[2021-12-01 13:55] #421 closed

[2021-12-01 15:24] chrisnevers commented on #420
Hi @kodisj , we just made a release, `1bd49d90`, that should fix this issue. Can you confirm that it's been resolved?

[2021-12-02 18:00] #155 closed

[2021-12-02 18:01] #182 closed

[2021-12-02 18:01] #184 closed

[2021-12-02 18:01] jeapostrophe commented on #253
Nevers implemented this recently and now we get what we want from arrows in arguments.

[2021-12-02 18:01] #253 closed

[2021-12-02 18:02] jeapostrophe commented on #341
As mentioned in the PR, we are thinking about what the right code of conduct is for the Reach repo. Thanks for mentioning this. I'm going to close the issue, as it is not about the product.

[2021-12-02 18:02] #341 closed

[2021-12-02 18:03] jeapostrophe commented on #369
Closing from inactivity

[2021-12-02 18:03] #369 closed

[2021-12-02 19:50] jeapostrophe commented on #417
I'm working on improving the error message, but the root of the problem is actually that we can't figure out this will always return a `tok` Token. If you change it to:
[code]
Then you will get what you want.

[2021-12-02 19:53] jeapostrophe commented on #417
The new error will say that there is a dynamic token reference.

[2021-12-02 19:53] #417 closed

[2021-12-02 22:04] #361 closed

[2021-12-02 22:54] anmolsahoo25 commented on #417
Thanks a ton!

[2021-12-07 00:44] AwolDes opened #434 "Feature Request: hard coding addresses"
:wave: hey there. Right now, the only way to hard code an address is the following. If I have missed another way, please point me in the right direction of the docs!

1) A Participant publishes a value from the frontend
[code]
2) Set a variable to `this` in an interaction, and publish
[code]

It would be very helpful for our project if we could do something like this to hard code addresses for a c

[2021-12-07 01:29] AmbroseHill commented on #434
A third helpful use case is for having null or zero addresses. Currently using maybe types to get around this but it would be helpful to set default addresses or have a null value address that indicates this address is currently unusable.  The use case is token staking and storing users addresses in a global array.

[code]

[2021-12-07 02:25] AwolDes opened #435 "Feature Request: Custom notes for Algorand contracts"
At the moment, Reach appends their own notes to transactions on the Algorand blockchain
![image](https://user-images.githubusercontent.com/9693812/144954652-0f32627a-f0ee-4569-95db-2ea7db5b0527.png)

It would be useful from a product perspective to have a `notes` field to track events on chain, rather than in a centralised service like Amplitude. A program could then collate transactions & generat

[2021-12-07 08:53] MetaB0y commented on #434
I also want to have this feature, and a similar thing for `Token`. Something like
[code]

[2021-12-07 11:36] jeapostrophe commented on #435
It's not out of the question. Help me understand what you mean by "track events on chain" and "collate transactions & generate reports". Imagine that the blockchain were an SQL database and you were programming an auction, you want to do something like:

[code]

And then look through these txns to do something?

If so, consider how you might do this on Ethereum, my assumption is that you'd be usin

[2021-12-07 11:50] jeapostrophe commented on #434
If you hard-code an address or a token, then your program is un-testable, because the addresses on e.g. MainNet are not going to be the same as the addresses on TestNet, so you'll need to have different versions of your program text for each of them. For example, in Algorand, USDC is 31566704 on MainNet and (I believe) 10458941 on TestNet; while in Ethereum it is 0xa0b86991c6218b36c1d19d4a2e9eb0ce

[2021-12-08 00:39] AwolDes commented on #435
@jeapostrophe I'm thinking from two perspectives. One being product analytics - at a high level, what are users doing, how often are they doing it, etc. The other is being able to understand what a user has done in the event of a bug report. The SQL sample is effectively what I'd like to do.

Events sounds like a far superior solution, but my guess would be it isn't a near term deliverable for the

[2021-12-08 00:44] AwolDes commented on #434
@jeapostrophe you make a good point, however doesn't that kind of decision get made by the team building Reach? Sure it may introduce extra complexity **but that would be the teams choice**, Reach would simply allow them to make that decision.

It would be bad if a frontend could pass any ASA token id to the contract, without being able to validate that token is allowed to be used. To illustrate t

[2021-12-09 19:43] jeapostrophe commented on #435
The Event feature will be ready this week or next with support on all Reach connectors, including ALGO. It is plausible that our ARC spec for it won't be accepted and we'll need to revise it, but there's nothing stopping it from being supported on the network immediately.

If you're happy with that, then we can close this. If you're not, then there's more to work out with the Notes. For example, s

[2021-12-09 20:09] jeapostrophe commented on #434
At a high-level, I agree with you that we should allow Reach users to make their own decisions. However, in general, Reach is about identifying things that can never work and disallowing them statically. (For example, you never want an arithmetic overflow on chain.) There are ways in which we are currently incomplete (but sound) so we reject things that could actually be okay in practice. (For exa

[2021-12-09 23:18] AwolDes commented on #435
@jeapostrophe happy to close in favor of events if that's something that will be implemented in some form in the near future. Is there an AVM update required for this? Or is the ARC more defining a standard for emitting events?

[2021-12-09 23:37] AwolDes commented on #434
Absolutely @jeapostrophe - thoughtful disagreement is very productive.

I don't mind the frontend verifying a contract is connecting to has the right token listed in a view with something like `stdlib.assert(await ctc.v.getTok() == 31566704)`. I originally was thinking of the bytecode solution but this achieves the same end goal.

Could something similar be done if a contract called another contra

[2021-12-09 23:51] jeapostrophe commented on #435
It requires no change to the AVM. The ARC will just be about the standard for encoding the information. Our proposal is that when you want to do `Transfer(address, address, uint64)` you should do a `log` of `sha512_256("Transfer(address, address, uint64)")[0..3] <> address <> address <> uint64`. We don't expect this to be controversial, but we have to write it up and people have to agree on it.

[2021-12-09 23:51] #435 closed

[2021-12-10 15:16] jeapostrophe commented on #434
My proposed

This is possible in a contract-to-contract call. Views are part of the external interface and you can call them on other contracts just fine.

If you went with the other method---hardcoding and verifying the bytecode---then you wanted a contract to verify the bytecode of another contract---is technically possible, but very difficult. On Algorand, you obviously can't store the actual c

[2021-12-10 21:44] DanBurton commented on #177
I'm pleased to say that we now support using reach on m1 machines!

Docker makes it a little trickier than simply using Rosetta, unfortunately.
Gladly, we were able to develop a release process that leverages docker manifests in order to support `arm64`.

You can take a look at our images on docker hub and notice that two architectures are now listed under each newly-released tag:

https://hub.doc

[2021-12-10 21:44] #177 closed

[2021-12-13 00:19] AwolDes commented on #434
@jeapostrophe I am happy to close this. Your comments were very helpful in clarifying my understanding.

[2021-12-13 01:31] AmbroseHill commented on #434
Thanks for the insight Jay!  Happy for this to be closed as well

[2021-12-13 14:17] #434 closed, assigned to nobody

[2021-12-14 01:34] tomxbacked opened #446 "API Participants cannot interact with Map (Local storage)"
**Describe the error**

Map used to store indexes of an array, e.g
[code]

The implementation compiles but the API users seem to be unable to access the map without any compilation or runtime errors.

**To Reproduce**

Contact `thinc#5902` (in reach discord) for reach file.

**Expected behavior**

API participant should be able to query map, and set map in rerquire and generally

Require statement

[2021-12-15 12:04] gpucc opened #448 "REACH_CONNECTOR_MODE environment variable Missing error message"
on **Ubuntu 21.10** using **Reach 0.1.7**

I'm new to REACH and just getting started following the official reach tutorials.

I am getting an error message about the REACH_CONNECTOR_MODE in /root/.config

**./reach config** prompts to set **1 for ALGO**.  Done.    **. /root/.config** as root.  Done.
The change has no effect and ./reach run  returns the same REACH_CONNECTOR_MODE error.

I have trie

[2021-12-17 04:05] AwolDes commented on #446
Bumping this - it is effecting me too on a later version `1bd49d90`

An API that looks like this cannot read updates to the `Map` object with that key:
[code]
Will not read the **updated** local state (on the Algorand network), and will still return the `dummy data` default object.

However I can see that this `userData` definitely exists using the following view function
[code]

[2021-12-17 21:20] jeapostrophe commented on #448
Hi @gpucc !

Are you logging in as `root` or are you running `reach` with `sudo`? If the answer is the second, then that's probably the source of the problem, and you also should never use `sudo` with the `reach` tool.

What command are you running, exactly, that gives you this error message?

[2021-12-19 22:09] AwolDes opened #456 "Improving returning a Map from a View"
This is a small bug / ergonomic issue. Take this API function:

[code]
In a `define` block of a `parallelReduce` I set it to this:

[code]

This compiles fine, but causes a variable `undefined` error before a participant publishes, prior to the parallel reduce. I believe this is because Reach is still optimizing retrieval of `Views`.

Instead I must do this:

[code]

And it works, but it isn't as

[2021-12-20 16:12] jeapostrophe commented on #456
I will investigate this. The `undefined` thing sounds really weird to me, if I can't reproduce, will you send me a sample that does this?

On the double `Some`, I think you want unsafe views --- https://docs.reach.sh/frontend/#ctcunsafeviews

[2021-12-20 23:54] AwolDes commented on #456
@jeapostrophe happy to send a code sample for the bug I am experiencing.

I'll give unsafe views a go, but I do like how a `Maybe` type works on the frontend, rather than catching an error as outlined for an unsafe view. Again, this is just an ergonomic request; not critical.

[2021-12-22 02:16] AwolDes opened #464 "Adding Events to contract cause frontend to error"
**Describe the error**

After adding in new [`Events`](https://docs.reach.sh/rsh/appinit/#rsh_Events), my contract compiles successfully but errors on the frontend with the following before a `pay` call, and before entering a `parallelReduce`. It seems to happen after a `publish`.

[code]

**To Reproduce**

Event:
[code]
I can share more information privately if it would help.

**Expected behavior

[2021-12-22 13:30] Confucian-e commented on #448
$ REACH_CONNECTOR_MODE=ETH ./reach run
my env is ETH, you just need replace your env

[2021-12-22 19:23] #446 closed

[2021-12-22 20:04] jeapostrophe commented on #456
I've modified my test suite to mimic this pattern:

https://github.com/reach-sh/reach-lang/commit/740f8b8472d7b4b548316b7df949bfc16c85c44a#diff-00e1adf8b6f3be81ccc73d5023cd1b022ff0d9ada9735c026c983f7d0660b28fR22-R23

This suggest that either the problem is more complicated and the use of `fromSome` is a red-herring, or that I fixed it while doing other things

[2021-12-22 20:05] jeapostrophe commented on #420
I'll close this. Please let me know if we need to reopen.

[2021-12-22 20:05] #420 closed

[2021-12-22 20:05] jeapostrophe commented on #448
Let me know if you'd like to reopen this.

[2021-12-22 20:05] #448 closed

[2021-12-22 23:10] AwolDes commented on #456
@jeapostrophe will test with latest version after it is released.

[2021-12-23 23:26] AwolDes commented on #464
Resolved by updating `stdlib` version & updating to latest Reach release.

[2021-12-23 23:26] #464 closed

[2021-12-23 23:26] AwolDes commented on #456
Resolved by updating `stdlib` version & updating to latest Reach release.

[2021-12-23 23:26] #456 closed

[2021-12-27 03:28] Confucian-e opened #473 "can't run ./reach version successfully"
**Describe the error**

I have download reach but when I run ./reach version it shows that
`Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/images/json?filters=%7B%22reference%22%3A%7B%22reachsh%2Freach-cli%3Alatest%22%3Atrue%7D%7D: dial unix /var/run/docker.sock: connect: permission denied`
![rea

[2021-12-27 03:29] Confucian-e commented on #473
My OS is Ubuntu 20.04 LTS. Looking forward to your answer.

[2021-12-27 04:52] Luis080117 opened #474 "init();"
When I use the command reach run. The following message is shown:

REACH_CONNECTOR_MODE=ETH ./reach run

reachc: error[RE0042]: Invalid unbound identifier in expression: init. Did you mean: ["int","Int","exit","idiv","igt"]

./index.rsh:10:3:id ref

10|   init();

For further explanation of this error, see: https://docs.reach.sh/rsh/errors/#RE0042

[2021-12-27 06:38] Thegaram commented on #474
+1

[2021-12-27 11:53] Confucian-e commented on #473
Thank you sir, I have solved.

[2021-12-27 11:53] #473 closed

[2021-12-27 12:23] jeapostrophe commented on #474
You can still use `deploy();`; sorry about this, I updated the docs without doing a code release. I'll get this fixed soon!

[2021-12-29 02:27] Thegaram opened #475 "Incorrect gas estimation on Conflux"
**Overview**

When running the Rock, Paper, Scissors example #9 (web interface), and accepting the wager with Bob, the transaction will use an incorrect gas limit and thus it will fail. [[tx]](https://testnet.confluxscan.io/transaction/0xac259f70a4e5c2a44a2b7c3f1d05a6bdf327fd93514a3cabdaa2d178e0b1292f)

**Root cause**

Executing a `cfx_estimateGasAndCollateral` RPC call using the `from`, `to`, `va

[2021-12-29 20:50] #475 closed

[2021-12-29 20:51] jeapostrophe commented on #475
Thank you!!!

[2022-01-03 21:50] jeapostrophe commented on #474
The current release fixes this!

[2022-01-03 21:50] #474 closed

[2022-01-10 16:24] TheChronicMonster opened #499 "Tutorial Snippets eliminate line 1"
Code snippets are offset by one line

For example:

If a .rsh file contains code from lines 1 - 13, the snippet shows as lines 2 - 14, as seen in the [first snippet](http://localhost:8080/tut/rps/#tut-1) under "Scaffolding and Setup"
Please describe the error you experienced.

This error appears to affect every snippet in the documentation portal.

[2022-01-10 16:27] #499 closed

[2022-01-10 18:48] TheChronicMonster opened #500 "Loading snippet with range displays incorrectly in documentation"
In the [Reach documentation](https://docs.reach.sh/tut/rps/#tut), loading a file with a range shows a snippet that is offset by one line.

e.g. loading a file, say, rps-4-attack.rsh with a range of 13-33 displays a snippet with the lines 12-32 as shown in the screenshot.

![Screen Shot 2022-01-10 at 12 06 33 PM (2)](https://user-images.githubusercontent.com/9493272/148821564-825d73ec-3e94-495b-836

[2022-01-10 20:33] gsmachado opened #501 "no docker"
Hello,

Imagine using `reach` within a docker image...

In order to avoid the DiD hell (docker-in-docker), how can I run `reach` without requiring `docker` nor `docker-compose`? Is there a way to instruct the `reach` bin to find the path of tools and manage their lifecycle, etc?

Please, give me some light on it!

Much appreciated.

[2022-01-11 19:37] jeapostrophe commented on #501
If you run `reach` --- https://github.com/reach-sh/reach-lang/blob/master/reach --- with `REACH_DOCKER=0`, then it won't use Docker, but will instead get everything from the repository/PATH. We do not support this at this time, however.

[2022-01-11 19:37] #501 closed

[2022-01-11 21:32] #500 closed

[2022-01-14 06:52] AwolDes opened #508 "Cost Output Positioning"
Recently an update was made that outputs text used to visualize the program using something like https://dreampuf.github.io/GraphvizOnline

This output is 100+ lines for me and when optimizing cost for Algorand is a bit annoying scrolling every compile to see the new cost.

Can the expensive path output at the bottom also include the cost?

[code]

[2022-01-14 22:02] #508 closed

[2022-01-14 22:03] jeapostrophe commented on #508
It is now in a file that you get when you run with intermediate files or debugging

[2022-01-19 17:36] TheChronicMonster opened #518 "reach init still used attach, deploy"
Template files that are created with `reach init` still feature the deprecated `attach` and `deploy` methods in `index.mjs`.

[2022-01-20 05:28] #518 closed

[2022-01-21 01:12] AwolDes opened #523 "Feature Request: Retrieve events for certain addresses"
For the events feature, is it possible that a specific address can be filtered for?

I imagine this could be an parameter for `next` or `seek` like this:
[code]

[2022-01-21 10:15] jeapostrophe commented on #523
What does it mean for an event to be from a specific address?

Do you mean that the address is the address of the app? If this, that's part of `ctc` (in your example)

Or do you mean that the address is of the account that made that app call that ultimately let to the event being logged? If this, that information is available on the network, but we don't expose it, because we're making an abstract

[2022-01-21 20:50] AwolDes commented on #523
@jeapostrophe I do mean for a certain address that triggered an event. We could filter at the application layer, but it's more about the performance of retrieving **all** events, rather than retrieving those triggered by a specific address.

If this is considered an anti-pattern, I'm happy if this is closed.

[2022-01-21 20:55] jeapostrophe commented on #523
Ah, let me tell you a secret... you have to receive all the events no matter what. There's not way right now with the indexer API to query for specific logs, so we have to get them all and go through them on your machine anyways

[2022-01-21 21:00] AwolDes commented on #523
I was afraid this may be the case :face_exhaling: thank you for confirming.

[2022-01-21 21:00] #523 closed

[2022-02-01 03:51] AwolDes opened #551 "Feature Request: Batch retrieval of address balances"
Currently on a frontend you can call `reach.balanceOf(addr)` and get the network token balance back. Similar to this, you can do `reach.balanceOf(addr, tokA)` and get the balance of `tokA`.

I propose a new function call `reach.balancesOf(addr, [networkTok, tokA, tokB]` that can get this information in a single network request, rather than multiple. This has much better client side performance

[2022-02-03 05:36] robdmoore opened #559 "Algorand sandbox update"
Hi,

Firstly, just wanted to say I'm super impressed with the sandbox container that you have published for Algorand.

I have an automated test that went from taking `37s` to taking `7s` after switching from Algorand sandbox with devnet configuration (which also isn't in a published docker container so painful to set up with docker compose) to the reach container.

I realise that Reach has a speci

[2022-02-04 12:32] jeapostrophe commented on #559
Thanks Rob.

I plan to update the version very soon. We generally do it when there's new TEAL available that we use. The version is specified in this file --- https://github.com/reach-sh/reach-lang/blob/master/scripts/devnet-algo/Dockerfile#L22 --- and provided our patches go through, we're in favor of upgrading to whatever stable versions are available.

The error you screenshot is because we don

[2022-02-09 03:16] jeapostrophe commented on #551
Added by #564 ; thanks for the suggestion!

[2022-02-09 03:16] #551 closed

[2022-02-09 18:55] TheChronicMonster opened #569 "Docs Index is down"
The Documentation [Index](https://docs.reach.sh/index/) is showing a list of 10 undefined items.

Appears to have broke on Feb 8/9

Craig and I looked at recent commits and PRs that may have affected the `generateIndex()` method that the index relies upon, but could find no immediate red flags.

[2022-02-10 01:41] AwolDes opened #571 "Feature Request: Asset Opt-in and Application Opt-in in the same txn group"
On Algorand, currently Reach will opt into an asset in one transaction, then in a follow up transaction the Application is opted into. It would be great to batch these together if possible so users just need one transaction when first opting into an application.

[2022-02-10 03:50] jeapostrophe commented on #571
First, the "opt into an asset" transaction that you're seeing is not generated "by" Reach automatically. It is generated by you when you call `tokenAccept`.

Second, figuring out ways of bundling txns together into groups is very very hard and it is not necessarily semantics preserving to take two txns that work okay alone and stick them in a group. In particular, Reach contracts ensure that the a

[2022-02-10 03:55] #569 closed

[2022-02-10 04:26] AwolDes commented on #571
Just after submitting this I had a feeling it might be in the "too hard for value provided" basket - no worries. Sounds like the normal application calls are a good solution :+1:

[2022-02-15 17:45] zonedotgame opened #585 "Feature Request: Support MetaData and MetaDataHash in stdlib launchToken"
**Describe the error**

When i use stdlib.launchToken("Name","Unit",{supply:1,decimals:0}), it creates an ASA in algorand but not taking metaData and metaDataHash as input and supplies it to asset create txn function of algoSDK.

**To Reproduce**

Call stdlib.launchToken with metaData and metaDataHash in opts, it will be ignored.

**Expected behavior**

It should take both metaData and metaDataHas

[2022-02-16 14:31] jeapostrophe commented on #585
We will do this soon

[2022-02-25 14:56] MetaB0y opened #620 "Const defined in DEFINE_BLOCK but used in other causes error in strict mode"
If I create a const in `DEFINE_BLOCK` of `parallelReduce` and then use it in `PAY_EXPR` of `.api` of `parallelReduce` in strict mode, then the contract is not compiled because of error[RE0094]: unused variable.

The variable can be accessed normally.

reach 0.1.8 (reach: 85500c11)

[2022-02-25 15:15] jeapostrophe commented on #620
This error was fixed in the next release, bf654a17, from February 15th

[2022-02-25 15:15] #620 closed

[2022-03-01 14:14] jeapostrophe commented on #585
@erer1243 just pushed this, it will be in the next release

[2022-03-01 14:14] #585 closed

[2022-03-02 19:19] jeapostrophe commented on #559
I have an update in a PR #643 that will be merged soon.

[2022-03-02 19:19] #559 closed

[2022-03-11 13:53] kshirsagardeepika opened #677 "Problem with Reach compiler"
Using API to transfer nft to buyer and written as follows
const Buyer = API('Buyer', {
        buy: Fun([Token, UInt], Null),
});
const [done] = parallelReduce([false])
        ...
        .api(Buyer.buy,
            (nftid, x, k) => {
            k(null);
            transfer(x).to(Creator);
            transfer(x, nftid).to(this);
            return [ done ];
        })
      ...
on compiling pr

[2022-03-11 14:16] jeapostrophe commented on #677
Can you please upgrade to the newer version of Reach and confirm that this still a problem? (0.1.9 came out yesterday and I fixed a related problem.)

[2022-03-11 14:49] kshirsagardeepika commented on #677
Update resolved issue but now getting error as
![reach-error](https://user-images.githubusercontent.com/78475108/157890272-c255912d-65ff-433e-8a71-0bd213533847.png)
and updated  transfer(x, nftid).to(this); to transfer([x, [x,nftid]]).to(this);
but in both cases getting same error.

Please provide some solution, Thanks

[2022-03-11 14:55] jeapostrophe commented on #677
Your program is wrong and the message tells you what is wrong. Your invariant is too weak and doesn't ensure that there are funds in the account to do the transfer.

[2022-03-11 14:55] #677 closed

[2022-03-11 21:20] huglif3 opened #680 "RSVP Staking DApp"
### Overview

There is no on chain way to verify attendance, nor is there a way to incentivize participants to attend after they RSVP.

**Expected behavior**

We need to build an RSVP DApp that allows you to purchase a ticket by staking Algos, and allowing you to withdraw them after you attend, and have been verified by the admin.

### Description

**What is the task?**

Using reach, build an RSVP

[2022-03-16 12:40] MetaB0y opened #687 "reach run cannot find Python library"
I have a problem with the new reach 0.1.9. When I do `./reach run`, I get
[code]
`./reach update` does not help.

Previously (reach 0.1.8) it worked fine I think.

There is a dir `/tmp/reach.2022-03-16T10-48-01Z-tXEt` but it doesn't even have `_MEIueImV2` subdir.

I run Manjaro Linux.

[2022-03-16 12:49] mattaudesse commented on #687
This doesn't sound like a Reach issue but we can test whether 0.1.9 vs. 0.1.8 is the problem - does it work if you run:

[code]

instead?

If it still fails I'd suggest `--force` reinstalling your `docker-compose` and `python3.7` packages on this machine... It looks like they're the more likely culprits.

[2022-03-18 21:39] mattaudesse commented on #687
@MetaB0y I'm going to close since this doesn't sound like a Reach issue.

[2022-03-18 21:39] #687 closed

[2022-03-21 10:48] MetaB0y commented on #687
Yeah, you are right, I was just confused with the temp directory name. My `docker-compose` was broken somehow.

Thanks!

[2022-03-23 11:37] lorenzopolidori opened #710 "Cannot dynamically load @reach-sh/stdlib/ALGO_WalletConnect in a NextJS web application"
**Describe the error**

Nextjs web applications use Server Side Rendering (SSR) by default. This means that app dependencies are compiled and bundled in a node environment on the backend before generating the web pages and returning the HTML code to the browser. When doing so, the `window` object - that is normally available on a browser javascript environment - is not defined.

I have created a s

[2022-03-24 07:55] FrankSzendzielarz opened #713 "Please add Reach NuGet package for C# RPC client to NuGet public directory"
This can be done manually by:

1. Build the CSharp project for the Reach RPC client  (using Release config)
2. This will produce a .NuPkg file in the release/bin folder
3. Go to www.nuget.org and create an account as Reach 'official'
4. Go to https://www.nuget.org/packages/manage/upload
5. Drag and drop.

I assume that the RPC client will update rarely. Otherwise it may be worth looking into githu

[2022-03-24 15:02] lorenzopolidori opened #714 "js-conflux-sdk npm dependency cannot be fetched when building from CI Docker container"
**Describe the error**

When building a React web app with `@reach-sh/stdlib` as a dependency, the build fails on a CI container.

This is because the version of `js-conflux-sdk` - one of the `stdlib` dependencies - is specified as `js-conflux-sdk@git+https://github.com/reach-sh/js-conflux-sdk.git#v1_6_0_blockNumber`. This makes the build script to clone the repo using SSH `ssh://git@github.com/re

[2022-03-25 13:46] jeapostrophe commented on #710
I hope that once we merge #664 it will work, but in the meantime I wonder if making stdlib not dynamic but the other two dynamic will work for you?

[2022-03-25 19:43] jeapostrophe commented on #714
I don't understand why that line https://github.com/reach-sh/reach-lang/blob/master/js/js-deps/package.json#L36 which says `git+https://github.com/reach-sh/js-conflux-sdk#v1_6_0_blockNumber` gets turned into `git+ssh`. Maybe @DanBurton or @vinmazzi can help

[2022-03-25 20:13] jeapostrophe commented on #710
On the next release, it should be possible for you to re-check this

[2022-03-25 21:35] lorenzopolidori commented on #710
Unfortunately, even if I statically `import { loadStdlib } from '@reach-sh/stdlib'`  and then use `let walletConnectLib = await import('@reach-sh/stdlib/ALGO_WalletConnect')` in `useEffect()`, I still get the same error: "TypeError: Cannot read properties of undefined (reading 'utils')".

[2022-03-26 14:53] jeapostrophe commented on #710
Well, we haven't done a release yet, so I don't expect anything to be different. We normally do releases on Thursday

[2022-04-01 11:16] lorenzopolidori commented on #710
It seems `0.1.9-rc.6` has made things even worse with Next.js.

`await import('@reach-sh/stdlib/ALGO_WalletConnect')` still gives the same error as before:
[code]
In addition to that, I can't open the AlgoWallet anymore. When I call `stdlib.getDefaultAccount()` I get this error:
[code]
This is reproducible cloning this repo: https://github.com/lorenzopolidori/nextjs-reach-wallet-connect/tree/reach

[2022-04-01 11:22] lorenzopolidori commented on #710
The same error happens with dynamically loaded reach libraries.
To reproduce, clone https://github.com/lorenzopolidori/nextjs-reach-wallet-connect/tree/reach-0.1.9-rc.6-dynamic (branch reach-0.1.9-rc.6-dynamic) and run `npm run dev`.

[2022-04-01 15:09] DanBurton commented on #710
@lorenzopolidori

Instead of this:

[code]

Can you try this?

[code]

That should give you the webpacked version of it that the error message is talking about.

This is a recent change, and we have updated our docs to recommend the new way of importing it.

[2022-04-01 15:57] lorenzopolidori commented on #710
Thanks! I didn't see the updated docs, it works beautifully now with `reach-0.1.9-rc.6`, even with dynamic loading:
[code]

[2022-04-01 16:00] jeapostrophe commented on #710
Boom!

[2022-04-01 16:00] #710 closed

[2022-04-01 16:59] lorenzopolidori commented on #714
@DanBurton, @vinmazzi, any updates on this issue? Without a fix, we need to manually replace `ssh://git@` with `https://` in `package-lock.json` to make it work on CI every time we upgrade `@reach-sh/stdlib`.

[2022-04-02 16:18] lorenzopolidori opened #755 "Cannot dismiss a wallet user interface and open a different one"
**Describe the error**
A web application shows a user interface element to let users select which wallet fallback to use.

* If users initially select MyAlgoWallet, a pop-up window is displayed to enter the password. Users can dismiss the pop-up and select PeraWallet instead. If they do so, the WalletConnect QR-code interface is not displayed, but instead MyAlgoWallet pop-up window is displayed ag

[2022-04-03 14:03] temptemp3 opened #756 "minimumBalanceOf func may require revision"
**Describe the error**

For account https://testnet.algoexplorer.io/address/4C3WDVXYY3ARRUER5XMXSTYHFNBFLSW4VWQYSLXTDEZJP33GPRFR7MEVYQ
minimumBalanceOf is reported as '2' where it should be 2.7.
May be missing 100000u per extra page

**To Reproduce**

Please include the program(s) that produce the unexpected behavior from Reach. If the error is in the compiler or during verification, you just need

[2022-04-03 14:41] jeapostrophe commented on #756
I think our plan is to merge this --- https://github.com/reach-sh/reach-lang/pull/671 --- once the indexer adds the field and then be done with it

[2022-04-03 14:45] jeapostrophe commented on #755
`setWalletFallback` does not change anything about the wallet ever. The Reach standard library checks one time whether your browser has a compliant ARC11 wallet. If it doesn't, then it runs the wallet fallback, once, to create one. I think you want to call `loadStdlib` a second time and get a different standard library instance. Perhaps @MrJackdaw can give some insight into what they did in Humble

[2022-04-03 15:04] temptemp3 commented on #756
@jeapostrophe cool thx. FYI, purestake api has the field. May help to validate. For calcs, I believe we missed extra pages.
Anyways, that works. We can go ahead and close this. Thx!

[2022-04-03 15:04] #756 closed

[2022-04-03 19:06] lorenzopolidori commented on #755
Do you think it would not be possible to change this behaviour and run the wallet fallback when calling `getDefaultAccount()` every time after `setWalletFallback()` is called?

Also, even keeping the current behaviour, a bug still stands, as I reported above. You cannot open WalletConnect, dismiss it with the X on its interface, and then call it again. When the WalletConnect interface is dismissed

[2022-04-05 13:39] jeapostrophe commented on #755
The wallet is used for more than just `getDefaultAccount`. An ARC11 wallet is responsible for controlling access to the network as well, so you use it for making any query. It really is for all interactions with `stdlib`.

As far as the WalletConnect problem, I believe this is a problem with WalletConnect itself. I don't believe the code we're calling does throw an exception or tell us in anyway t

[2022-04-06 21:14] lorenzopolidori commented on #755
@jeapostrophe FYI, I have tried to call `loadStdlib` every time before I want to connect to a wallet (i.e. call `getDefaultAccount`), but the issue is still there - I can't cancel a wallet selection nor cancel WalletConnect and open it again.

This is my simple test code for reference: https://github.com/lorenzopolidori/nextjs-reach-wallet-connect/blob/master/pages/index.js

Happy to help on this

[2022-04-09 08:47] KodisBabu opened #780 "LaunchToken does not support note field for Algorand, which is the killer feature for Algorand NFT Galleries"
**Describe the error**

Most of the Algorand NFT galleries take the metadata from note field of the algorand minted token instead of IPFS url

**To Reproduce**

I have tested both IPFS url and Note field in many galleries,  Note field metadata is supported in many galleries.

**Expected behavior**

Allow LaunchToken() call to take note field as optional param and pass it to algosdk asset creation

[2022-04-09 14:21] jeapostrophe commented on #780
First, none of the ARC standards for NFTs use the Note field for anything --- https://github.com/algorandfoundation/ARCs/tree/main/ARCs --- It is limited at 1024 and thus brittle. I think that you should file issues with the NFT galleries in question or investigate further what is really happening. For example, if you look at

https://www.randgallery.com/algo-collection/?address=614446116

which w

[2022-04-09 18:05] #780 closed

[2022-04-09 18:28] jeapostrophe commented on #755
@MrJackdaw Can you comment here, please?

[2022-04-18 08:31] MetaB0y opened #812 "remote object interaction issues"
I am trying to do some remote calls on ALGO-devnet and they throw some unexpected errors. There are 2 seemingly separate problems.

Please see a repo with a minimal example demonstrating both problems: https://github.com/MetaB0y/reach-remote-problems

I use the latest reach 0.1.10rc-0 but had it in 0.1.9 too.

[2022-04-18 13:17] jeapostrophe commented on #812
I'll get on this. Thanks!

[2022-04-19 03:19] jeapostrophe commented on #812
I am about to push a fix to the first issue. I was not able to get the second problem.

Your program does have its own problem, you should apply this patch:
[code]

The farm isn't actually ready for calls until you've done that payment.

[2022-04-19 12:21] #812 closed

[2022-04-20 11:28] MetaB0y commented on #812
Thanks a lot! I think the second issue was related to the patch you mentioned, it is not happening after applying the patch.

Somewhat related note: I see REMOTE_FUN.ALGO was added. It definitely seems like something useful but it is really hard to understand how to use it, an example would be helpful.

[2022-04-20 12:11] MetaB0y commented on #812
This works in the example repo but unfortunately, I have exactly the same error in my full project.
[code]

 I will double-check my setup (so far looks ok?) and will try to update the repo to make it reproducable.

[2022-04-21 13:58] MetaB0y opened #857 "MyAlgoWallet connection doesn't work after reach 0.1.10"
After upgrading to reach 0.1.10 from 0.1.9, MyAlgoWallet connection stopped working.

I have `Constructing MyAlgoConnect with the non-webpacked version of @reach-sh/stdlib is not supported.` from
https://github.com/reach-sh/js-reach-stdlib/blob/c7e97d8e52afb8e2e0f6d10dec3a96087bf98afb/Stub_MAC.mjs

[2022-04-22 10:25] MetaB0y opened #843 "remote.fun.stake.pay(PAY_EXPR)(tokenAmount) throws logic eval error: itxn_begin without itxn_submit"
This is a follow-up for https://github.com/reach-sh/reach-lang/issues/812, I believe one of the issues was not fixed. It is still reproducible for me. @jeapostrophe could you take another look?

I updated the repo: https://github.com/MetaB0y/reach-remote-problems

I use the latest reach 0.1.10rc-1 but had it in 0.1.10rc0 too.

[2022-04-22 10:27] MetaB0y commented on #843
Also, I believe there is yet another (third) related issue that is somewhat tricky to reproduce. I will try to do it and upload it to a separate repo.

[2022-04-22 11:26] MetaB0y opened #844 "remote.fun.withbill([token])() logic eval error: cannot fetch key, <wallet> has not opted in to app <id>."
I have an issue with remote contract interaction.

I get
[code]
when trying to call
`const stateOfUnderlyingFarm = underlyingFarmCtc.claim.withBill([rewardToken])();` inside API of "wrapper" contract.

I created a repo to highlight this issue: https://github.com/MetaB0y/reach-remote-optin-problem

It seems that for some reason caller contract is not opted in into the callee contract but there is n

[2022-04-22 14:07] jeapostrophe commented on #812
Re: `REMOTE_FUN.ALGO` --- I don't know how to give an example without going into great detail on TEAL programming. But basically, sometimes you are going to be calling a function that is going to need more fees and we have to have some way of telling the frontend that. That's what the feature is for.

Re: OptIn --- Yes, there's no way to do that right now and I don't know how to do it gracefully a

[2022-04-22 14:58] jeapostrophe commented on #844
I do not know how to do this elegantly. It is "easy" to add a way for a remote interface to specify that you'll be doing a call to some function with the `OptIn` `OnCompletion` set. But that is going to increase the minimum balance of the application in a way that is hard to calculate and not possible to do statically AND it is going to require the application to eventually `ClearState` before it

[2022-04-22 16:33] MetaB0y commented on #844
@jeapostrophe Sorry, I am not sure if I understand what is "this" exactly?

I can interact with other smart contracts on Algorand somehow. Here I have a seemingly simple case in the best environment possible (both contracts were created by me and deployed by me simultaneously).

I do not understand why remote interactions work in some cases on Algorand but in others, they don't. How do I know what

[2022-04-23 13:31] jeapostrophe commented on #844
"How do I know what is currently possible and what isn't?"

Algorand has no way to define how to use an application. There is no definition of how a caller C should call an application F. There is no way for you to find out how to call F. There is no way for you to write down what C should do. Reach does not solve this problem for you or Algorand. Thus, the answer is that you cannot know what is p

[2022-04-23 14:52] jeapostrophe commented on #843
Thank you, I will look into it.

[2022-04-23 21:59] #843 closed

[2022-04-23 21:59] jeapostrophe commented on #843
Thank you for finding this!

[2022-04-25 17:23] vinmazzi commented on #714
@lorenzopolidori I was not able to reproduce the issue.

I have tried with the following npm versions:
- 6.15.16 with node@v14.19.1
- 8.5.0 with node@v16.14.2

All that was tested on a docker ubuntu container through a test react app created with npx.

Would you mind sharing with us the version of npm and node.js that you are using ?

[2022-04-26 13:53] flyingleafe opened #855 "Incorrect behavior of `thisConsensusTime()` on ALGO connector."
**Describe the error**

I am trying to implement a simple vesting contract which releases portions of money to the participant via API depending on the time of API call. Using `thisConsensusTime()` in the call leads to the error on the attempt to release a portion of the money after the second non-zero release:

[code]

The negative value which was attempted to be returned from the API method call

[2022-04-26 14:05] jeapostrophe commented on #855
Thanks! I'll look at this

[2022-04-26 14:48] grzracz opened #856 "[Suggestion] expose signTxns on window.algorand (or some workaround to access it)"
It's needed to access TX signature without actually sending it to chain

[2022-04-26 15:17] grzracz commented on #755
Would also love to get this solved, this also blocks any chance of disconnecting wallets. The only way to do it currently is to refresh the page which feels very unprofessional

[2022-04-26 18:28] flyingleafe opened #862 "Validator does not assume that time is non-decreasing in successive API calls inside `parallelReduce`"
**Describe the error**

If I assign a result of `thisConsensusTime`/`lastConsensusTime` to a loop variable inside a `parallelReduce` API call, the validator fails if I add a check that a new value of this variable is GTE than the previous one.

**To Reproduce**

Minimal example: https://github.com/MetaLabsOG/reach-issues/blob/main/time-validation/index.rsh
After uncommenting the marked `check`, I

[2022-04-26 20:25] jeapostrophe commented on #862
Thanks, I'll check it out!

[2022-04-26 21:00] DanBurton commented on #856
I believe the workaround you're looking for is something like:

[code]

[2022-04-26 21:06] jeapostrophe commented on #856
We believe that does not exist because our fallback only implements signAndPostTxns but could easily implement that... or am I wrong?

[2022-04-27 14:57] lorenzopolidori commented on #714
@vinmazzi @DanBurton
My CI runs on a `amazonlinux:2` docker container with these node versions:
node: v14.19.0
npm: 6.14.16

[2022-04-27 20:38] lorenzopolidori commented on #714
@DanBurton I see this issue is still open and affecting more recent versions of `npm`. In fact, I use the latest stable version `8.8.0` and I am still experiencing the same issue.

[2022-04-27 20:56] DanBurton commented on #856
Ohhhh I see. I forgot we don't currently expose that, but that optional interface is in the ARC and is super easy for us to expose. Opened a PR.

[2022-05-01 12:41] MetaB0y opened #883 "Creation of empty struct causes internal compiler error"
Code like this
[code]

Causes something like
[code]

 Maybe this code is not correct, but it should be handled by the compiler.

[2022-05-02 08:48] Kipngetich33 opened #885 "The compiler has encountered an internal error"
I did the following in the .rsh file:

[code]
when i try to run ./reach run I get the error stack below:

[code]
I have noticed that if a do the publish and commit after the `init()` the issue is resolved

[2022-05-03 15:44] MetaB0y opened #895 "Division by zero in some remote calls"
I have a very strange problem that is probably somehow related to remote contract calls.

I created a minimal example to demonstrate this issue: https://github.com/MetaB0y/reach-remote-problems

The crux is the following
[code]

On the last line, I get
[code]

 I am not sure what exactly causes this problem, it seems to be a very specific case. For example, if I change first line to
 ```const [aPe

[2022-05-04 06:30] MetaB0y commented on #857
Yes, thanks.

[2022-05-04 06:30] #857 closed

[2022-05-04 17:21] flyingleafe commented on #855
@jeapostrophe would you be able to provide any comments on why this happens/ETA?

[2022-05-04 17:32] jeapostrophe commented on #855
I'm sorry, I haven't had time to investigate yet. But I will very soon!

[2022-05-04 21:03] jeapostrophe commented on #895
First, I have an idea how to fix this.

Second, the root of the problem is that on ALGO, clients need to simulate the execution of the on-chain code to be able to synthesize things like the Accounts and Assets arrays. That means that your Reach frontend is going to run this program before sending the transaction to the network. However, the frontend can't do that simulation for remote objects, lik

[2022-05-07 20:48] jeapostrophe commented on #855
FYI, I have a PR in CI testing that fixes this. It is just a problem with the Algorand simulator for trying to get composability. I adjusted your program a little for testing.

[2022-05-07 20:52] #856 closed

[2022-05-07 20:58] jeapostrophe commented on #862
When I run your program (with a few line changes) I get
[code]

But that's because you used `check`, which is a `require`, which must be matched with an `assume`. You really meant to use `assert`.

But you still have a problem, the verifier only knows what you tell it. And all it knows about `curTime` is that it is some number. You just need to tell the verifier you expect it to be `thisConsensusT

[2022-05-07 20:58] #862 closed

[2022-05-09 13:08] vinmazzi commented on #714
@lorenzopolidori it is possible that what is causing this issue is the fact that you are creating your package-lock.json with an old version of node.

[2022-05-09 13:08] vinmazzi commented on #714
@lorenzopolidori it is possible that what is causing this issue is the fact that you are creating your package-lock.json with an old version of node.

[2022-05-09 13:29] vinmazzi commented on #714
Hey @lorenzopolidori I was able to reproduce the same error using the same version as you.

Could you try to update your local node version to at least the version v14.19.0 ? In that version I was able to create my package-lock.json file.

Also, keep in mind that the version v12 is no longer supported as you can see it here https://github.com/nodejs/release.

Let me know if it fixes, thank you.

[2022-05-09 14:12] flyingleafe opened #934 "Add a possibility to update/downgrade Reach to a particular version (e.g. to a tagged release)"
Currently, `reach update` automatically pulls the latest available Reach docker images from Dockerhub.
However, since those images are updated from the current master on a rolling basis (AFAIU), it is easy to end up with the version of Reach which is newer than last released tag, and therefore produces compiled JS code which is incompatible with the latest JS stdlib available in the NPM. Right now

[2022-05-09 14:16] jeapostrophe commented on #934
https://docs.reach.sh/tool/#ref-usage-envvar-version

[2022-05-09 14:16] #934 closed

[2022-05-09 17:13] #883 closed

[2022-05-09 17:13] #885 closed

[2022-05-09 18:37] ThannDev commented on #844
Have you able to resolved your issues?

[2022-05-11 08:53] lorenzopolidori commented on #755
Any development on this issue?

[2022-05-11 17:04] MrJackdaw commented on #755
Sorry about the belated response, all. Just caught up on the thread.

First though,
#### The (anti-climactic) short answer
* Reload the window before attempting to reconfigure `stdlib` settings (e.g. current blockchain or network provider).

This is how we handle it on HumbleSwap.

#### The slightly longer explanation
As Jay noted, setting a `walletFallback` effectively tells `stdlib`

So it becom

[2022-05-13 14:28] flyingleafe commented on #855
@jeapostrophe As far as I understood, the fix above has been merged in the current master in the beginning of the week and is now included into the `latest` version of Reach (`c0bba7d2`). However, the issue in my example is not solved, I still get this error:

[code]

The difference in the behavior after fix is only the following: the returned negative number does not seem to be always equal to th

[2022-05-14 15:31] jeapostrophe commented on #855
Can you look at the difference between your program and my test:

https://github.com/reach-sh/reach-lang/tree/master/examples/pr855

?

[2022-05-17 14:05] vinmazzi commented on #714
Unfortunately we no longer support node on version v12.
Thanks.

[2022-05-20 11:10] flyingleafe commented on #855
@jeapostrophe Sorry for a delayed reply. Your test does not work on my machine as well (Reach version `c0bba7d2`).

Firstly, it does not compile because of repeated `.invariant` call:

[code]

Secondly, when I merge two invariant calls together and make it compile, it still fails on some release call (not necessarily the first one), and all the subsequent ones, since your code catches the exceptio

[2022-05-20 11:34] flyingleafe commented on #855
@jeapostrophe Updated Reach to the current latest (`2604daf0`) just in case. In this version repeated invariants compile, but I still see the same behaviour in runtime. As before, only on `ALGO` connector, everything works on `ETH`.

On the other notice, I see that setting the `REACH_CONNECTOR_MODE` env var on my machine stopped overriding `reach config` in version `2604daf0`. I had to re-run `rea

[2022-05-26 13:09] lorenzopolidori commented on #755
@MrJackdaw, thanks.

Out of curiosity, are you telling the user to reload the page manually, or are you doing it automatically with `location.reload()`?

In general, would it not make sense to implement a more flexible approach in `stdlib` where we can reset the wallet fallback if needed?

[2022-05-26 15:36] flyingleafe commented on #855
@jeapostrophe bump, any hope that could be resolved in the near future?

[2022-05-26 17:14] flyingleafe opened #1053 "@reach-sh/stdlib: Make it possible to reset the Algorand provider during the application lifecycle"
We have two use cases which we would like to support in our Algorand application:

1. Allow the user to disconnect his current wallet and connect another one (e.g. if the user has both MyAlgo and Pera wallet)
1.1. This would also help with automatic reconnection of the previously connected wallet without blocking the user from changing the wallet at some point in the future.

3. Fetch the contract

[2022-05-26 17:28] flyingleafe opened #1054 "@reach-sh/stdlib: Make it possible to set up the custom API key header for algod (e.g. to use PureStake)"
On our project, we are using PureStake algod and indexer APIs: https://www.purestake.com/

The caveat with using Purestake API is that they use `X-API-Key` header for token authentication instead of the default `X-Algo-API-Token` header. This can be easily configured with algod client, but Reach does not allow configuring a different header name, therefore we resort to using the default algoexplor

[2022-05-28 14:55] jeapostrophe commented on #1054
Thanks for the report. We'll work on this.

[2022-05-28 15:01] jeapostrophe commented on #1053
We'll work on doing this fully. Before then, let me try to help with what we have today...
- You can make multiple instances of the standard library
- If you use `stdlib.createAccount`, you will by-pass the wallet's `enableAccounts` call, so for wallets that don't provide node access, you'll just connect directly.

[2022-05-28 15:21] jeapostrophe commented on #855
I went and looked at your code again and I see that you haven't changed it at all based on my suggestions in my encoding of your example --- https://github.com/reach-sh/reach-lang/blob/master/examples/pr855/index.mjs

I think the source of the problem is that I don't understand what you think your program is supposed to do.

The error is that you don't know `curTime - start` is always non-negative

[2022-05-28 15:59] jeapostrophe commented on #855
I did some more investigation and may have a lead. On our clients `thisConsensusTime()` comes from the Indexer's `health` call --- https://developer.algorand.org/docs/rest-apis/indexer/#healthcheck --- and we've observed that sometimes it spuriously returns old values.

[2022-05-28 23:16] flyingleafe commented on #855
@jeapostrophe

I did not change my example accordingly to yours, since (as I said) I have done testing of newer Reach versions directly on __your__ example, and still observed the same errors. Do you observe the same errors when you try to run your test on ALGO connector?

My program is supposed to simply send 0 or more tokens to the user on each `release` API call. The total amount of vested mone

[2022-05-29 12:46] flyingleafe commented on #855
Wait, but in the __contract code__ `thisConsensusTime()` cannot be tied to the indexer call. Do I understand correctly that return values from the API calls on ALGO connector are constructed not directly from the changes in the contract state, but rather from the contract simulation on JS backend? And that there is no such problem on ETH since on ETH functions explicitly return value which can be

[2022-05-30 13:52] jeapostrophe commented on #855
In the contract code, `thisConsensusTime()` is based on `global Round` in TEAL.

However, on Algorand, before a client sends a transaction, they have to predict what resources the program will use based on the data they are giving it. For example, the program might need to mint a token, so it needs to have funds to do so; or the program might look at a user's local storage.

In Reach, we do this p

[2022-05-31 20:07] DanBurton opened #1070 "test issue please ignore"
I am testing something. ~ Dan

[2022-05-31 20:09] DanBurton opened #1072 "test issue 2"
ignore this. ~ Dan

[2022-05-31 20:17] #1072 closed

[2022-05-31 20:18] DanBurton opened #1073 "test issue 3 last one maybe"
please ignore ~ Dan

[2022-05-31 20:34] DanBurton opened #1074 "test issue 4"
ignore me

[2022-05-31 20:37] DanBurton opened #1075 "test issue last try"

[2022-05-31 20:38] #1075 closed

[2022-05-31 20:38] #1074 closed

[2022-05-31 20:38] #1073 closed

[2022-06-01 04:00] Thomas-Bibby opened #1078 "Compiler Error, "Not your program" - solc: stack too deep"
**Describe the error**

Trying to compile my code works perfectly but then it all of a sudden gave this error. "This error indicates a problem with the Reach compiler, not your program. Please report this error, along with the pertinent program, to the Reach team as soon as possible so we can fix it."

**To Reproduce**

Try to compile my code which is in the zip file.

**Expected behavior**

It is

[2022-06-01 09:07] lorenzopolidori commented on #714
@vinmazzi Thanks for your reply.
I have upgraded to node `v14.19.1` and npm `8.11.0`. However, when I run `npm install` to recreate my `package-lock.json` from scratch, I still get the same result, i.e. `ssh://git@` instead of `https://`:
[code]

[2022-06-03 17:28] jeapostrophe commented on #1078
I'll investigate this. Sorry for the delay!

[2022-06-06 15:48] DanBurton commented on #1078
If you only care about running this on Algorand, you can specify `setOptions({connectors: [ALGO]})` to work around the issue.

https://docs.reach.sh/rsh/appinit/#setoptions

[2022-06-06 15:59] #844 closed

[2022-06-06 18:58] #1078 closed, assigned to nobody

[2022-06-09 00:29] Thomas-Bibby opened #1120 "Error indicates a problem with the reach compiler"
### Discussed in https://github.com/reach-sh/reach-lang/discussions/1119

<div type='discussions-op-text'>

<sup>Originally posted by **Thomas-Bibby** June  9, 2022</sup>
Got another reach compiler error when trying to compile my Algo contract I get the error below. I have attached the code.
![image](https://user-images.githubusercontent.com/62004466/172739214-44982dc0-fb20-4ef9-aa94-d2e5f765aebf.

[2022-06-09 02:23] Thomas-Bibby commented on #1120
The issue was resolved after I removed half of the parameters. Not sure if you still want this issue noted

[2022-06-09 11:48] leakim34 commented on #152
Facing same issue here ... :'(

[2022-06-17 20:26] joshuafvr opened #1164 "Termux"
![Screenshot_20220617-212122_Termux](https://user-images.githubusercontent.com/74902842/174396595-987417a4-1e2f-4f16-a307-59a272d7ab3c.jpg)
What does this means?

[2022-06-18 00:53] jeapostrophe commented on #1164
I have no idea :) What do you think it has to do with Reach? :P

[2022-06-18 00:53] #1164 closed

[2022-06-18 00:59] joshuafvr commented on #1164
Same here don't know what it means

[2022-06-18 01:00] jeapostrophe commented on #1164
Where did it come from? How did you find this repo to report it?

[2022-06-18 01:10] joshuafvr commented on #1164
I just opened my termux and found those

[2022-06-18 23:39] jeapostrophe commented on #1120
I just pushed a fix to this. It should ship on Thursday.

[2022-06-22 15:03] MetaB0y opened #1179 "Compiler internal error when forgot api name"
I forgot to provide Api name in `parallelReduce` and wrote:

[code]

It caused

[code]

[2022-06-23 08:44] MetaB0y opened #1183 "The Solidity compiler failed with the message: Error: Invalid type for argument in function call. Invalid implicit conversion from struct T32 memory to struct T36 memory."
I have a bunch of `parallelReduce`s (6 in a row). The last two are very simple, it is

[code]

 It causes
[code]

It is the initialization of `needToPay` with `!fullUnlock` in the second `parallelReduce` which causes the issue (if I change it to `parallelReduce([true])`, it compiles). What is weird that I have the same initialization of `needToConfiscate` in the first `parallelReduce` and it doesn

[2022-06-24 15:43] jeapostrophe opened #1192 "ALGO - Allow remote calls to specify 0 amount payments"
See #1138

[2022-06-24 19:43] Hikmo opened #1194 "Reach new api syntax error"
I have an application which is written in the new reach api syntax (api_) which you can find in the attach file. While the same code with the old api syntax works without errors the code with new api syntax gives runtime error. Although it compiles without errors it gives runtime error when a call is made to restartSale api. The error is not because of check assertions, however the error itself is

[2022-06-24 20:03] Hikmo opened #1195 "Reach verifier not working correctly"
Even though I ensure some conditions with checks which I will describe further, reach verifier gives errors using examples that are not complying to the check constraints

I have attached the code and the error message is below.
Even though it makes sure that each share should be less than 10.000 with the following code:

  ```require(royaltyArr.all(x => x.share <= TOTAL_SHARE));```

where total s

[2022-06-25 12:59] jeapostrophe commented on #1195
The only thing that is known inside of `while` loops (like `parallelReduce`) about loop variables (like `royalties`) is what is in the `invariant`. You should put the claim about their total share in the invariant.

[2022-06-25 12:59] #1195 closed

[2022-06-25 13:04] jeapostrophe commented on #1194
What function are you calling? What does the calling code look like? `assert` in TEAL *is* `check` in Reach, so it could be that the error is one of the checks. But we'll look at those two questions first.

[2022-06-25 16:08] jeapostrophe commented on #1179
Thanks! I just pushed a fix and will merge after CI

[2022-06-25 16:10] jeapostrophe commented on #1183
Sorry, this isn't information. Can you email me a gist or link to your code so I can investigate it?

[2022-06-25 17:27] #1179 closed

[2022-06-26 09:20] Hikmo commented on #1194
You should first deploy the contract with the required params, and then with another account you should trigger the buy function, getting the ownership of the asa. After that if you try to call the restartSale it will give the error I have mentioned above.

[2022-06-26 09:55] Hikmo commented on #1195
To be more explicit,
[code]

[2022-06-27 08:29] Hikmo commented on #1194
To be more explicit,
[code]
this is the code I use for deploying the contract where saleType is 1, selectedRow.royalty is 1000, price is 1, tokenID is and id of a random asa that the deployer holds and claimablesArr is an array of length 2 which holds the objects of form
[code]
After this I trigerr buy with the following code
[code]
where buyPrice is 1
and after that if I try to call restartSale w

[2022-06-28 15:44] jeapostrophe commented on #1194
Can you post your code as a gist so that I can easily read it?

[2022-06-28 15:44] jeapostrophe commented on #1194
If you don't want to share publicly, you can email or DM me on Discord

[2022-06-29 14:42] Hikmo commented on #1194
I guess you didn’t have time to accept the invitation but all the code I have is on GitHub issue page

[2022-07-09 09:31] Michele971 opened #1249 "[Feature] Java RPC-client"
Can somebody add the rpc-client for Java?

[2022-07-09 21:19] jeapostrophe commented on #1249
If someone is interested in writing this, I think the Java version will be very similar to the C# one. We at Reach don't plan to prioritize this any time soon.

[2022-07-12 17:22] CryptoRUSHGav opened #1254 "RPC Call to API never returns from RPC server."
Some `API.method` calls which succeed via sdk fail via RPC. Gist shared privately with the team.

[2022-07-20 07:05] meetthosar opened #1270 "Not getting token balance by using stdlib function acc.balancesOf Or stdlib.balancesOf"
I am trying to get token balance of account using balanceof function but they are not working.

I tried using

acc.balancesOf(tokens: Array<Token | null>) => Promise<Array<BigNumber>>

And
stdlib.balancesOf(acc: Account, tokens: Array<Token | null>) => Promise<Array<BigNumber>>

But I am getting `e.eq not a function error`.

You can check code in https://github.com/meetthosar/grab-a-deal/blob/main

[2022-07-20 14:14] jeapostrophe commented on #1270
If you are referring to https://github.com/meetthosar/grab-a-deal/blame/main/src/Components/GrabDeal.js#L68, then are you sure that `account` and `tokenId` have the values you think they do?

[2022-07-20 15:39] imfeelingitchy opened #1273 "Error with the Reach Compiler"
[index.rsh.zip](https://github.com/reach-sh/reach-lang/files/9151605/index.rsh.zip)

[code]

[2022-07-20 17:56] Michele971 opened #1275 "[Bug] Error with Views and Map using Bytes"
## Purpose
Allow a user to read a value from the map, passing the **key** as parameter when calling the view from frontend.

## Problem definition
I'm trying to set key type to map, different from the default type "address", using Bytes(128).
I'm also trying to retrieve the value (UInt) associated with the key (Bytes(128)).

When the user tried to read the value through the view, the result is ['n

[2022-07-21 09:47] meetthosar commented on #1270
Yes, account and tokenId have values
<img width="1440" alt="Screenshot 2022-07-21 at 3 15 46 PM" src="https://user-images.githubusercontent.com/13599340/180184394-6673e431-ee89-4de6-bbdd-ff62ceec9f56.png">
.

[2022-07-21 09:57] meetthosar commented on #1270
In Wallet , it shows balance for same token:
<img width="1118" alt="Screenshot 2022-07-21 at 3 25 49 PM" src="https://user-images.githubusercontent.com/13599340/180186438-cd97d9cd-73aa-495d-9d88-f8fc7148f523.png">

[2022-07-21 13:12] jeapostrophe commented on #1275
Does the debugging log return anything interesting?

[2022-07-21 13:16] jeapostrophe commented on #1270
Thank you, I will look into it and get back to you!

[2022-07-21 13:17] Michele971 commented on #1275
Nope, nothing special

[2022-07-21 13:18] jeapostrophe commented on #1275
Can you send me the whole program or the debugging log?

[2022-07-21 13:19] Michele971 commented on #1275
of course!

[2022-07-21 14:00] jeapostrophe commented on #1275
Thank you!

[2022-07-22 14:42] jeapostrophe commented on #1270
I am pushing a fix for this shortly, I apologize for the problem. It will be released on Thursday. In the meantime, if you convert your token value to a BigNumber with `stdlib.bigNumberify` it should work correctly

[2022-07-22 14:42] #1270 closed

[2022-07-22 16:47] meetthosar commented on #1270
No Problem! Thanks a lot! I will try stdlib.bigNumberify.

Thanks once again!

[2022-07-22 17:22] #1273 closed

[2022-07-27 05:36] MetaB0y opened #1297 "[BUG] Validator doesn't understand that `this` can be a particular address"
I have `beneficiary: Address`, which is `publish`ed by one of the participants.

I have a map and a getter:
[code]

And `parallelReduce` with invariant: `staked(beneficiary) == 0`

Now, if I do something like `stakedM[this] = 10` in my `.api`, the invariant is not violated (but it should be).

It doesn't help if I add `check(this === beneficiary)` or even `enforce(addressEq(this, beneficiary))` be

[2022-07-27 08:14] Jace254 opened #1298 "Payment and transfer issue within loops"
### Discussed in https://github.com/reach-sh/reach-lang/discussions/1295

<div type='discussions-op-text'>

<sup>Originally posted by **Jace254** July 26, 2022</sup>
![Capture](https://user-images.githubusercontent.com/47209391/181099929-ade85bf8-cf66-4cd9-bd91-225d8743dc62.PNG)

I get this error when I try paying in portions within a parallel reduce.
Here is the Repo :
[https://github.com/Jace254

[2022-07-27 14:10] jeapostrophe commented on #1298
Your `invariant`s (e.g. line 82) doesn't say anything about `balance(JSH)`, so there's no way to ensure that the `transfer` is safe. I'd also remove lines 96 and 97.

[2022-07-27 14:10] #1298 closed

[2022-07-29 13:43] #680 closed

[2022-07-29 16:08] #1297 closed

[2022-07-29 16:09] jeapostrophe commented on #1297
Thank you for finding this problem! I just pushed a fix

[2022-07-29 19:08] #1120 closed

[2022-07-29 19:20] jeapostrophe commented on #1053
It is now possible to load independent instances of the standard library easily...

https://docs.reach.sh/frontend/#ref-frontends-js-loader

And we've added a discussion about how to use `setWalletFallback` multiple times effectively....

https://docs.reach.sh/frontend/#js_stdlib.setWalletFallback

[2022-07-29 19:20] #1053 closed

[2022-07-29 19:20] jeapostrophe commented on #755
It is now possible to load independent instances of the standard library easily...

https://docs.reach.sh/frontend/#ref-frontends-js-loader

And we've added a discussion about how to use `setWalletFallback` multiple times effectively....

https://docs.reach.sh/frontend/#js_stdlib.setWalletFallback

[2022-07-29 19:20] #755 closed

[2022-07-29 22:55] DanBurton commented on #1053
When Jay says "it is now possible", he means, it will be possible starting with `@reach-sh/stdlib@0.1.11-rc.6`, which will be released next week.

[2022-07-29 22:56] DanBurton commented on #755
When Jay says "it is now possible", he means, it will be possible starting with `@reach-sh/stdlib@0.1.11-rc.6`, which will be released next week.

[2022-07-30 22:41] #1054 closed

[2022-07-30 22:43] jeapostrophe commented on #1054
I've finally implemented this. You may enjoy checking out this example program: https://github.com/reach-sh/reach-lang/tree/master/examples/algo-wallet-demo

[2022-08-01 14:41] jeapostrophe commented on #1194
I did not see the invitation on Discord, but I believe that we're talking about this now on the Google Doc. I'm going to close this issue and we'll track things over there.

[2022-08-01 14:41] #1194 closed

[2022-08-04 07:31] leakim34 opened #1316 "Vitejs (build tool) incompatibility (polyfill issue)"
**Describe the error**

Vitejs cannot be used with reach stdlib, since it uses some node built in modules that are not polyfilled.
You'll start having multiple errors on each built in module used by reach-sh/stdlib.
Starting with one of them below:

[code]
It will do this for each built in modules used by reach.

**To Reproduce**

Setup a new environment with vite js using any framework you want (

[2022-08-04 10:54] CryptoRUSHGav commented on #1316
I second this request. Vite is getting harder to bypass and several frameworks (VueJS, Svelte come to mind) have started to bundle it as default.

[2022-08-04 16:07] jeapostrophe commented on #1316
We will work on this.

I am totally ignorant about these things, so if either of you know, please help.

My assumption #1: People that use Vite know that it is "weird" with respect to dependencies, because it changes when and where things are used.

My assumption #2: Given that, they are used to "configuring Vite to deal with it". I put that in quotes, because I have no idea how that is actually d

[2022-08-05 00:53] CryptoRUSHGav commented on #1316
@jeapostrophe my knowledge of Vite is purely circumstantial (due to my wish to use VueJS 3 and Vite being bundled with v3 by default) and I make no claim to pretend I even remotely understand Vite.

Unlike Webpack which bundles all your dependencies, Vite tries to create browser-native ES modules and load these modules on a per-request basis.
I'm unsure how it ends up making our lives miserable bu

[2022-08-05 15:48] jeapostrophe commented on #1316
Thank you for the advice! Follow this issue for the solution

[2022-08-08 14:11] kieranroneill opened #1321 "Reach 0.1.11-rc.6 has a dependency of React 18+"
**Describe the error**

With the introduction of [PeraWallet Connect](https://github.com/perawallet/connect) support, there is now a dependency for React 18+ due to PeraWallet Connect having a peer dependency for `react` and `react-dom` 18+ packages (https://github.com/perawallet/connect/blob/94765603c293aafa002ce262a0bed388d39fc49e/package.json#L42).

**To Reproduce**

* Build a non-React applica

[2022-08-08 15:58] jeapostrophe commented on #1321
Thanks, Kieran. @DanBurton, can you put this on our schedule and think about the best way to do it? Maybe we have `@reach-sh/stdlib-react` or figure out a way to change the code so it takes `@perawallet/connect` as a dynamic argument?

[2022-08-08 21:41] lorenzopolidori commented on #714
@vinmazzi I can confirm this is still an issue and it is affecting also other developers working with me and running the lasted versions of node 14 and npm.

[2022-08-10 08:20] jeapostrophe commented on #714
@DanBurton Can you please create a fresh Jira task for this and assign to yourself? I have two ideas about solutions...
1. Update to a newer version of `js-conflux-sdk` that includes our patches and is on npm so we don't need to do this
2. Make an npm release of our patch so we don't need to go through `git+https`

Maybe you have other ideas?

[2022-08-10 10:42] Michele971 opened #1325 "Problem with the Reach compiler"
## Problem Definition

I have encountered this error:

_reachc: The compiler has encountered an internal error:

  df_com switch (v113 : Data({"None": Null, "Some": Bytes(128)})) {
  case None as v114 : Null/True: {
    const eff = protect<Null>("Creator".interact.reportPosition(did/92, v113 ));
    exit(); }
  case Some as v115 : Bytes(128)/True: {
    const eff = protect<Null>("Creator".interact

[2022-08-10 12:35] jeapostrophe commented on #1325
Can you send the entire program as gist.github.com link? If you are uncomfortable sharing publicly, can you please DM me on Twitter or email me at jay@reach.sh?

[2022-08-10 13:42] Michele971 commented on #1325
Done !

[2022-08-11 20:35] DanBurton commented on #1321
Acknowledged.

[2022-08-11 20:55] DanBurton commented on #714
Acknowledged. I've had the same 2 ideas and I presume we'll go with the latter, but I'll look into both options.

[2022-08-12 01:47] CryptoRUSHGav opened #1328 "Error with check() when using FixedPoint"
Try the following statement in a contract:
[code]

The compiler returns the following output:
[code]

[2022-08-12 18:01] jeapostrophe commented on #1183
I just messaged you on Discord about getting a copy of the program too. I'm going to close this since I haven't heard from you. Please feel free to reopen if you can get the program (I'll do that too if you resend it).

[2022-08-12 19:45] chrisnevers commented on #1192
Fixed with #1324

[2022-08-12 19:45] #1192 closed

[2022-08-14 08:30] MetaB0y commented on #1183
I provided the program which demonstrates this bug privately. I don't think I have rights to reopen though.

[2022-08-14 11:47] jeapostrophe commented on #1183
Thank you!

[2022-08-15 09:32] prince-hope1975 opened #1336 "Unimplemented Feature in Solidity compiler"
**Describe the error**

The error occurred while trying to store a struct in a Map

**To Reproduce**
Here is the GitHub gist: https://gist.github.com/prince-hope1975/2b597699662c6091119b2eb941b2a6e7#file-index-rsh
The Error occurred in the API of a parallel reduce
[code]

**Error**
[code]

**Expected behavior**
It was expected to just compile with no failures

**Extra information**
reach 0.1.11

[2022-08-15 13:33] jeapostrophe commented on #1336
Thank you for finding this. We'll work on it.

[2022-08-17 15:11] jeapostrophe commented on #1328
This was fixed by https://github.com/reach-sh/reach-lang/commit/27cb96438f0ec7322b60e6e0cfa609efa3e28791

[2022-08-17 15:11] #1328 closed

[2022-08-21 17:09] lorenzopolidori opened #1358 "Getting Error("no log for ".concat(o_lab)) when using remote call"
### Discussed in https://github.com/reach-sh/reach-lang/discussions/1354

<div type='discussions-op-text'>

<sup>Originally posted by **lorenzopolidori** August 19, 2022</sup>
I have two Reach applications, one calling the other through an API.

The fist contract executes a `parallelReduce`, and after it stops it, it calls an API implemented in a second contract and terminates:

[code]

The second

[2022-08-23 01:34] jeapostrophe commented on #1275
This was fixed and it will be released on Thursday

[2022-08-23 01:34] #1275 closed

[2022-08-23 07:50] Michele971 commented on #1275
Thank you

[2022-08-23 08:36] nftcrps commented on #1321
Is there any way to bypass this problem? I get the same error when I install older versions.

[2022-08-23 13:37] alcyoneus-g commented on #1321
anyway to handle this temporarily please?

[2022-08-24 11:25] #1183 closed

[2022-08-24 16:12] DanBurton commented on #1321
@nftcrps @alcyoneus-g does `npm install react react-dom` work as a workaround?

[2022-08-25 20:27] jeapostrophe commented on #1358
This error comes from this code block --- https://github.com/reach-sh/reach-lang/blob/master/js/stdlib/ts/ALGO.ts#L2067-L2082

And it roughly means that Reach couldn't find the result of the function call in the on-chain log. Can you run with debugging and show me the whole output (uploaded to gist.github.com)? It would also be useful to have an automated test case version of your code that I coul

[2022-08-26 17:48] CryptoRUSHGav commented on #1321
do you still need to test this? I'm very hesitant to add react and react-dom as dependencies on a Vue2 project. Wouldn't Webpack add them to the vendors file?

[2022-08-30 17:17] lorenzopolidori commented on #1358
@jeapostrophe This is the gist with the debug logging: https://gist.github.com/lorenzopolidori/75e9e8a873a7d99c892fe8ea13a3e32b

You can find the full source code of the two contracts here: https://github.com/terragrids/dapp/tree/dev/blockchain

The automated test code that I ran to generate the debug logging is here https://github.com/terragrids/dapp/blob/dev/blockchain/token-market/index.mjs

`t

[2022-08-31 15:34] jeapostrophe commented on #1358
I have just pushed a fix to this problem. Thank you for finding it. It will be released on Thursday.

If you want to work-around before then, then the problem is that you are calling a remote function in the continuation of `while` (i.e. `parallelReduce`) and I had a bad compilation. You can add an extra `publish` to get a new transaction... or just wait until Thursday :)

[2022-08-31 15:34] #1358 closed

[2022-08-31 17:25] lorenzopolidori opened #1387 ""logic eval error: fee too small" when upgrading to latest Reach (f33abc3d)"
**Describe the error**

After upgrading to the latest Reach version (hash `f33abc3d`), when calling an API from a frontend test script, I get a `logic eval error: fee too small`. The API in the first contract calls an API in a second contract.

**To Reproduce**

This is the gist with the debug logging: https://gist.github.com/lorenzopolidori/3db245caa9fb01c2e1891921c686a4c7

You can find the full

[2022-08-31 19:48] jeapostrophe commented on #1387
Algorand does not support composability, so every client needs to know intimate details about servers they call. You have to encode this knowledge in your clients using the `.ALGO` options to remote calls, such as the `fees` argument:

https://docs.reach.sh/rsh/consensus/#rsh_REMOTE_FUN

If you compile with debugging on, then you should see a precis that lists the number of fees for each API call.

[2022-09-01 10:18] lorenzopolidori commented on #1387
Thanks @jeapostrophe! I will continue here for support, please let me know if you prefer to move this conversation to a different channel.

I have compiled the called contract with debugging on and I got this output:
[code]

I can see that all API calls cost 2 fees.
So I have updated my calling contract to this:

[code]
The first remote call is called when the calling contract is deployed before t

[2022-09-01 13:55] jeapostrophe commented on #1387
Some comments as I'm reading...
- This error seems to be just from the CALLING contract, because normally you'll see two pcs
- I think your test cannot work, because both Alice and Bob try to buy, but only one of them can, because after one succeeds `sold` is `true` and `!withdrawn && !sold = !false && !true = true && false = false`, so the loop ends.
- They are just racing and one wins and the ot

[2022-09-01 14:04] lorenzopolidori commented on #1387
Yes, that's expected. This is what I have been testing so far, and this test was working before I upgraded reach from `27cb9643` to `f33abc3d` and `stdlib` from `0.1.11-rc.7` to `0.1.11-rc.8`.

[2022-09-01 14:11] jeapostrophe commented on #1387
I don't understand why you think the test is not working then? This error basically says "I expected to be in state 5, but aren't". In a non-race scenario, Reach can detect this before the call, but in this case it was wrong, so you get the raw network error

[2022-09-01 14:24] lorenzopolidori commented on #1387
Yes, that's right.
But when I run
[code]
i.e. the previous version, either Alice or Bob manage to buy the token, and the other gets the error above, which is expected since the programme is not in that state anymore.
After cleaning, when I run:
[code]
i.e. the latest version, neither of them manage to buy the token, both get the error above when calling the API, and the test gets stuck.

[2022-09-01 16:32] jeapostrophe commented on #1387
Thank you for pushing me on this. I was wrong. This is a problem. I'm in the middle of fixing it

[2022-09-01 17:29] lorenzopolidori commented on #1387
No problem, thanks for the quick fix!

[2022-09-02 19:21] jeapostrophe commented on #1387
It was released yesterday!

[2022-09-02 19:21] #1387 closed

[2022-09-05 14:08] lorenzopolidori commented on #1387
I confirm my tests work as expected after the latest release, thanks!

[2022-09-15 17:34] jeapostrophe commented on #1321
A fix for this was just merged... https://github.com/reach-sh/reach-lang/pull/1423

[2022-09-15 17:34] #1321 closed

[2022-09-21 19:43] jeapostrophe commented on #1336
This was fixed in #1422

[2022-09-21 19:43] #1336 closed

[2022-09-25 08:56] KodisBabu opened #1439 "While creating ASA in algorand using stdlib.launchToken(), opts.metaDataHash value is ignored and not set in the asset."
**Describe the error**

While creating ASA in algorand using stdlib.launchToken(), opts.metaDataHash value is ignored and not set in the asset.

opts.metaDataHash value is not set while creating the asset in algorand network

**To Reproduce**
 const nft = await stdlib.launchToken(accLender, "Gold Pass", "GP",{metadataHash: "12345678901234567890123456789012",url:"ipfs://xss.zzz",clawback:accLender.

[2022-09-25 08:59] KodisBabu opened #1440 "Feature Request: Add manager address in opts for stdlib.launchToken() for Alogrand network"
**Describe the error**

Currently manager address in opts object in stdlib.launchToken() is not supported,  please add manager address in opts for stdlib.launchToken() for Alogrand network.

**To Reproduce**
Try creating with manager field in opts in stdlib.launchToken() and see, it will be ignored.

**Expected behavior**

Manager address should be set, which is the key address in algorand asset.

[2022-09-27 13:20] KodisBabu commented on #1439
Actually, i am passing metadataHash as key and it is not set, when i check
in algoexplorer.

-Kodis

On Mon, Sep 26, 2022 at 6:57 PM Jay McCarthy ***@***.***>
wrote:

[2022-09-27 20:45] jeapostrophe commented on #1439
Ok. Thank you. I'll schedule someone to debug and get a stable test case for this

[2022-10-06 18:15] cyleecode opened #1454 "WalletConnect producing undefined importKey error"
**Describe the error**
[code]

WalletConnect producing error behind the QR and not able to connect.
![error](https://user-images.githubusercontent.com/25987834/194387396-96a0ced3-4627-4c7c-856a-777c811c1c60.jpg)
![error2](https://user-images.githubusercontent.com/25987834/194387418-c654d9a7-221b-4810-a0f4-60d0a4e4b5d2.jpg)

Try to ignore error and scan QR using Pera Wallet gives no response from d

[2022-10-07 06:19] cyleecode commented on #1454
Found the actual issue. The underlying stack using web crypto api which require https to work properly, same issue with
https://stackoverflow.com/questions/68479744/cannot-read-property-importkey-of-undefined-web-crypto-api-without-ssl
Problem was solved with setting up https for localhost.

[2022-10-07 06:19] #1454 closed

[2022-10-07 09:02] mannyyang commented on #1316
@jeapostrophe looking forward to your solution

[2022-10-07 13:28] jeapostrophe commented on #1454
I'm glad you figured it out!

[2022-10-10 07:25] guanzo opened #1460 "Feature Request: Use algod for asset information if reading is allowed."
Similar to how https://github.com/reach-sh/reach-lang/blob/15656b7123fe69ad71d284218a77a3969f13f03f/js/stdlib/ts/ALGO.ts#L1292-L1298 and https://github.com/reach-sh/reach-lang/blob/15656b7123fe69ad71d284218a77a3969f13f03f/js/stdlib/ts/ALGO.ts#L1343-L1349 work,

`getAssetInfo` should check if the node can read, and if so, fetch asset info from the node instead of the indexer.

[2022-10-11 10:52] jeapostrophe commented on #1460
Thank you for the request! This issue will be updated when we do it!

[2022-10-12 17:51] BunsanMuchi opened #1465 "Reach Compiler Error"
Hi, I got the following error when trying to turn on verifyPerConnector

[code]

If I delete the flag the error goes away.

[2022-10-13 12:43] jeapostrophe commented on #1465
Thank you! Can you privately send me the code? (Also, I assume you're on the latest release of Reach?)

[2022-10-16 02:05] imfeelingitchy opened #1468 "Reach seems to produce impossible values for counter-example to failed "check" statement"

[2022-10-16 02:38] #1468 closed

[2022-10-16 11:51] jeapostrophe commented on #1468
I can see the original post in my email, so I want to give you a little bit of advice.

The ONLY thing that Reach can track about the variables in a `parallelReduce` are those things in the invariant. Your invariant is
[code]
But the variables are
[code]
This means that you know absolutely nothing about `howMany`, `evenSum`, `oddSum`, `deadlineBlock`, and `keepGoing`. Even `sumOfHowMany` is almost

[2022-10-25 23:21] jeapostrophe commented on #1439
Hi @KodisBabu , as #1487 demonstrates, this has always worked if you look at the right field names

[2022-10-25 23:21] #1439 closed

[2022-10-27 23:13] giggioz opened #1493 "launchToken does not set manager address in Algorand TestNet"
**Describe the error**

using launchToken in ALGORAND TestNet does not set the manager address

**To Reproduce**

I call this function from my react client

[code]

**Expected behavior**

I obtain the NFTId but If I look into it in the explorer all the addresses but the manager are set.

For example
https://testnet.algoexplorer.io/asset/119136364

<img width="1150" alt="image" src="https://user-im

[2022-10-27 23:57] willghatch commented on #1493
Support for the manager field was just added, it's in [0.1.12-rc.7](https://docs.reach.sh/changelog/#guide-changelog).  IE you're one release too early.  But it should work once you have the new version.  (Though I think rc7 hasn't actually been released yet... if it hasn't it will be pretty soon.)

[2022-10-28 07:51] giggioz commented on #1493
Thank you.

[2022-10-28 07:51] #1493 closed

[2022-11-02 17:52] jeapostrophe commented on #895
The way to solve this is with the new `simXyz` options on remote calls: https://docs.reach.sh/rsh/consensus/#rsh_remote.ALGO

[2022-11-02 17:52] #895 closed

[2022-11-02 17:52] jeapostrophe commented on #895
(Sorry for not updating the thread when we made the new features)

[2022-11-02 17:53] jeapostrophe commented on #1249
Please move to a discussion if you want to try to find some people to work on this.

[2022-11-02 17:53] #1249 closed

[2022-11-02 17:54] jeapostrophe commented on #1465
Closed for no report

[2022-11-02 17:54] #1465 closed

[2022-11-02 17:54] jeapostrophe commented on #1460
This was added in the last release.

[2022-11-02 17:54] #1460 closed

[2022-11-02 17:54] jeapostrophe commented on #1440
This was added in the last release.

[2022-11-02 17:54] #1440 closed

[2022-11-02 17:54] #1316 closed

[2022-11-02 17:55] jeapostrophe commented on #1254
I believe this was resolved privately.

[2022-11-02 17:55] #1254 closed

[2022-11-02 17:56] jeapostrophe commented on #855
Closing because the thread died and the problem was probably fixed in the interim by general changes, `enforce`, or `sim*` options on remote functions

[2022-11-02 17:56] #855 closed

[2022-11-02 17:57] jeapostrophe commented on #571
Closing this because it is too big of issue to figure out how to do with how the standard library works. Since Feb, it can be simulated by making a custom wallet, which is kind of a hack.

[2022-11-02 17:57] #571 closed

[2022-11-02 17:59] jeapostrophe commented on #276
We don't plan to implement this any time soon. In particular, we are anxious that naive users will mix up the default settings and be unable to connect to their devnets.

[2022-11-02 17:59] #276 closed

[2022-11-02 18:01] jeapostrophe commented on #714
This was worked on in #1437 but that failed because of weird problems with other changes to CFX. I think something else should be done in the interim, like the npm release.

[2022-11-07 09:24] jeapostrophe commented on #714
I merged a change that uses a forked version of the package, hosted on NPM. Sorry for it taking so long to do this.

[2022-11-07 09:24] #714 closed

[2022-11-12 20:52] ruifortes commented on #473
I was looking forward for your solution :-\

[2022-11-27 21:28] asolpshinning opened #1532 "Compiler error when using .fromObject"
**Describe the error**

The error is from the compiler and says it is not from my program and should contact Reach team immediately.

**To Reproduce**

I have included the program that produce the unexpected behavior from Reach. Please see the GitHub gist link below.

https://gist.github.com/asolpshinning/a1ee1c774b7d811826647575c2b5d85a

**Expected behavior**

I expected no error

**Extra informa